.zhabblerPlayer{
    overflow: hidden;
    font-family: "Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;
    background-color: #333;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.zhabblerPlayer, .zhabblerPlayer *{
    transition: all .1s;
}
.zhabblerPlayer video{
    height: 100%;
    width: 100%;
    cursor: pointer;
}
.zhabblerPlayer .zhabblerPlayerControls{
    display: flex;
    align-items: center;
    background: transparent;
    height: 6px;
    position: absolute!important;
    bottom: 0;
    z-index: 10;
    width: -webkit-fill-available;
    width: fill-available;
    width: -moz-available;
}
.zhabblerPlayer .zhabblerPlayerControls .zhabblerPlayerControl::before{
    width: 24px;
    height: 24px;
    display: block;
    cursor: pointer;
}
.zhabblerPlayer:hover .zhabblerPlayerControls .zhabblerPlayerControl{
    margin: 0 10px!important;
    margin-left: 0px;
    margin-right: 0px;
}
.zhabblerPlayer:hover .zhabblerPlayerControls{
    height: 42px;
}
.zhabblerPlayer .zhabblerPlayerControls .zhabblerPlayerControl:hover{
    filter: brightness(.9);
}
.zhabblerPlayer .zhabblerPlayerControls .zhabblerPlayerControl:active{
    filter: brightness(.9);
    transform: scale(.8);
}
.zhabblerPlayer .zhabblerPlayerControls #PlayBtn::before{
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" class="w-6 h-6"><path fill-rule="evenodd" d="M4.5 5.653c0-1.427 1.529-2.33 2.779-1.643l11.54 6.347c1.295.712 1.295 2.573 0 3.286L7.28 19.99c-1.25.687-2.779-.217-2.779-1.643V5.653Z" clip-rule="evenodd" /></svg>');
}
.zhabblerPlayer .zhabblerPlayerControls #PauseBtn::before{
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" class="w-6 h-6"><path fill-rule="evenodd" d="M6.75 5.25a.75.75 0 0 1 .75-.75H9a.75.75 0 0 1 .75.75v13.5a.75.75 0 0 1-.75.75H7.5a.75.75 0 0 1-.75-.75V5.25Zm7.5 0A.75.75 0 0 1 15 4.5h1.5a.75.75 0 0 1 .75.75v13.5a.75.75 0 0 1-.75.75H15a.75.75 0 0 1-.75-.75V5.25Z" clip-rule="evenodd" /></svg>');
}
.zhabblerPlayer .zhabblerPlayerControls #FullScreenBtn{
    margin-right: -24px;
}
.zhabblerPlayer .zhabblerPlayerControls #PlayBtn, .zhabblerPlayer .zhabblerPlayerControls #PauseBtn{
    margin-left: -24px;
}
.zhabblerPlayer .zhabblerPlayerControls #FullScreenBtn::before{
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M3.75 3.75v4.5m0-4.5h4.5m-4.5 0L9 9M3.75 20.25v-4.5m0 4.5h4.5m-4.5 0L9 15M20.25 3.75h-4.5m4.5 0v4.5m0-4.5L15 9m5.25 11.25h-4.5m4.5 0v-4.5m0 4.5L15 15" /></svg>');
}
.zhabblerPlayer:hover .zhabblerPlayerControls .zhabblerPlayerBar{
    border-radius: 9999px;
}
.zhabblerPlayer .zhabblerPlayerControls .zhabblerPlayerBar{
    display: flex;
    height: 5px;
    background-color: rgba(255, 255, 255, .5);
    width: 100%;
    border-radius: 0px;
    overflow: hidden;
    cursor: pointer;
}
.zhabblerPlayer:hover .zhabblerPlayerControls{
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, .5));
    height: 42px;
}
.zhabblerPlayer .zhabblerPlayerControls .zhabblerPlayerBar:hover{
    height: 8px;
}
.zhabblerPlayer .zhabblerPlayerControls .zhabblerPlayerBar .zhabblerPlayerBarActive{
    height: 100%;
    width: 0%;
    background-color: #13b552;
}
.zhabblerPlayer .zhabblerPlayerLoader {
    position: absolute!important;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, .5);
    background: 
      radial-gradient(farthest-side,#fff 94%,#0000) top/8px 8px no-repeat,
      conic-gradient(#0000 0%,#fff);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
    animation: l13 .5s infinite linear;
}
@keyframes l13{ 
    100%{transform: rotate(1turn)}
}
.zhabblerPlayer .zhabblerDurs{
    color:#fff;
    display: none;
}
.zhabblerPlayer:hover .zhabblerDurs{
    display: block;
    font-size: 12px;
}
.zhabblerPlayer .zhabblerDurs span{
    display: block;
    width: max-content;
}
.zhabblerPlayer .zhabblerDurs #nonactive{
    margin-left: 10px;
    color:rgba(255, 255, 255, .5);
}
.zhabblerPlayer .zhabblerDurs #active{
    margin-right: 10px;
}
.zhabblerPlayerBigPlayBtn{
    position: absolute!important;
    z-index: 10;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    width: 72px;
    height: 72px;
    cursor: pointer;
}
.zhabblerPlayerBigPlayBtn::before{
    width: 72px;
    height: 72px;
    display: block;
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" class="w-6 h-6"><path fill-rule="evenodd" d="M4.5 5.653c0-1.427 1.529-2.33 2.779-1.643l11.54 6.347c1.295.712 1.295 2.573 0 3.286L7.28 19.99c-1.25.687-2.779-.217-2.779-1.643V5.653Z" clip-rule="evenodd" /></svg>');
}
.zhabblerPlayerBigPlayBtn:hover{
    transform: scale(1.2);
}
.zhabblerPlayerBigPlayBtn:active{
    transform: scale(.8);
    filter: brightness(.8);
}