body, .tabs, .navbar_top{
    background: #000000!important;
}
.button_gray{
    background-color: #333!important;
    color: #999!important;
}
.post{
    background: #222!important;
    color: #fff!important;
}
.post .postAuthor:hover{
    background: #333!important;
}
.postAuthorPointsToAuthor, .dropdown_section_part input, .dropdown_section_part select, .postRespondsRespondItself{
    color: #fff!important;
}
.dropdown, .dropdown .dropdown_element{
    background: #444!important;
}
.dropdown .dropdown_element:hover{
    background-color: #333!important;
}
.write_post_tags .write_post_tag{
    background-color: #333!important;
    color: #999!important;
}
.write_post_tags .write_post_tag:hover{
    color: #aaa!important;
}
.postContent[contentEditable=true]:empty:not(:focus):before, .postContent[contentEditable=true] *:empty:not(:focus):not(i):before{
    color: rgba(255,255,255,.5)!important;
}
.s_media_selections{
    background-color: #444!important;
    border-top: 2px dashed #666!important;
    border-bottom: 2px dashed #666!important;
}
.s_media_selection{
    color:#999!important;
}
.s_media_selection:hover{
    color:#ccc!important;
}
.postActionsLikes{
    border: 1px solid #666!important;
    color: #999!important;
}
.postActionsLikes b{
    color: #fff!important;
}
.postActionsLikesOpenedResponds {
    background-color: #666!important;
    color:#fff!important;
}
.postResponds{
    border-top: 1px solid #444!important;
}
.postRespondsTabs{
    border-bottom: 1px solid #444!important;
}
.postRespondsRespondTextarea{
    background-color: #333!important;
    color:#fff!important;
}
.postRespondsRespondTextarea textarea{
    color:#fff!important;
}
.postRespondsRespondItself a{
    color:#fff!important;
}
.ariaLabelVisible{
    background-color: rgba(255,255,255,.5)!important;
    color:#000!important;
}
.ariaLabelVisible::after{
    border-top: 8px solid rgba(255,255,255,.5)!important;
}
.navbar_element_bubble{
    background-color: #333!important;
    color:#fff!important;
}
.navbar_element_bubble_header{
    border-bottom: 1px solid #666;
}
.input{
    background-color: #333;
    border: 1px solid #666;
    color:#fff;
}
.input:focus::placeholder{
    color:rgba(255, 255, 255, .5);
}
.settings_main{
    background-color: #222;
    color: #fff;
}
.choose_navbar_st{
    background-color: #444;
    border: 1px solid #666;
}
.choose_navbar_st:hover{
    border: 1px solid #555;
}
.navbar_settings_styles input[type="radio"]:checked+label{
    background-color: #778ea6;
    border: 1px solid #306bab;
}
.navbar_element_bubble_pseudo_elem{
    color:#ccc;
}
.navbar_element_bubble_pseudo_elem b{
    color: #fff;
}
.navbar_element_bubble_title{
    background-color: #555;
    color: #999;
}
.tags_followed_pg .tags_followed_pg_itself .tag_pg_add, .tags_followed_pg .tags_followed_pg_itself .tag_pg{
    background-color: rgba(255, 255, 255, .5);
}
.popup_container{
    background-color: #333;
    color:#fff;
}
.popup_container_bottom_actions{
    border-top: 1px solid #555;
}
.input_tags{
    background-image: none!important;
    padding-left: 10px;
}
.input_tags_searched{
    background-color: #333;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, .2);
}
.input_tags_searched .input_tags_searched_tag .tag_ii{
    color: #fff;
}
.popup_tags .popup_tag{
    color: #ccc;
    border: 1px solid #ccc;
}
.main_messages_im .main_messages_im_person, .main_messages_write_message{
    background-color: #000;
}
.user_row{
    color:#fff;
}
#postEditor .post .postAuthor{
    border-bottom: 1px solid #444;
}
.postAuthorReposted{
    border-top: 1px solid #444;
}
hr{
    background-color: rgba(255, 255, 255, .1);
}
.settings_section{
    border-bottom: 1px solid rgba(255, 255, 255, .2);
}
.popupContentPseudoInput{
    background-color: #232323!important;
    color:#fff;
}
.mobile_nav{
    background: #000;
    border-top: 1px solid rgba(255, 255, 255, .2);
}
.postQuestionItself{
    background-color: #333;
}
.postQuestionItselfAuthor{
    color: #999;
}
.postQuestionItself::after {
    border-left: 12px solid #333;
}
.nav_options_tagged .nav_options_tagged_info{
    background-color: rgba(255, 255, 255, .15);
}
.new_msgr_msgs{
    background-color: #222;
    box-shadow: 0 4px 32px rgba(255, 255, 255, .2);
    color:#fff;
}
.new_msgr_avatar_whidn{
    background-color: #222;
    box-shadow: 0 0 1em 0 rgba(255, 255, 255, .3);
}
.new_msgr_msgs_conversation_info_linked, .new_msgr_msgs_wmform_input textarea, .new_msgr_msgs_list_m_msg .new_msgr_msgs_list_m_msg_i{
    color:#fff;
}
.messages_bubble_person_info b{
    color:#fff!important;
}
.new_msgr_msgs_conversation_info, .messages_bubble_person{
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}
.new_msgr_msgs_wmform_btns .new_msgr_msgs_wmform_btn{
    color: #ccc;
}
.new_msgr_msgs_wmform_input, .new_msgr_msgs_wmform_input textarea{
    background-color: #333;
}
.new_msgr_msgs_wmform{
    border-top: 1px solid rgba(255, 255, 255, .1);
}
.new_msgr_msgs_wmform_btns .new_msgr_msgs_wmform_btn:hover {
    background-color: #333!important;
}
.new_msgr_msgs_list_m_msg_timestamp, .new_msgr_msgs_list_m_msg_dlt_ms{
    color: rgba(255, 255, 255, .5);
}
.new_msgr_msgs_list_m_msg_dlt_ms:hover{
    color: rgba(255, 255, 255, 1)!important;
}
.new_msgr_msgs_list_m_msg .new_msgr_msgs_list_m_msg_i{
    background-color: #444;
}