body, html{
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.4) rgba(0, 0, 0, 0.1);
    overscroll-behavior-y: contain;
}
body, .tabs, .navbar_top, .mobile_new_nav, .mobile_new_nav_sidebar_b .navbar{
    background: #fff!important;
}
.navbar_logotype, .navbar_top_logotype{
    color: #13b552;
}
#app{
    color:#000!important;
}
.navbar_element{
    color:rgba(0,0,0,.5)!important;
}
.navbar_element:hover {
    background-color: rgba(0, 0, 0, .1)!important;
}
.tags_followed_pg_btn_left{
    background: linear-gradient(to right, rgba(0, 0, 0, .2), transparent);
}
.tags_followed_pg_btn_right{
    background: linear-gradient(to left, rgba(0, 0, 0, .2), transparent);
}
.profile_main_container .post{
    background-color: #fff!important;
}
.post{
    background: #eee!important;
}
.main{
    border-left: 1px solid rgba(0, 0, 0, .1);
    border-right: 1px solid rgba(0, 0, 0, .1);
}
.tabs{
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}
.tabs .tab:hover {
    background-color: rgba(0, 0, 0, .1);
}
.tabs .tab{
    color: #565656!important;
}
.loader .loader_part{
    background-color: #666!important;
}
.new_btn_loader .loader .loader_part, .popup:not(.popup_profile) .loader .loader_part{
    background-color: #fff!important;
}
.tags_followed_pg .tags_followed_pg_itself{
    color:#fff!important;
}
.popup{
    background-color: rgba(0, 0, 0, .5);
}
.navbar_extended_show{
    border-top: 1px solid rgba(0, 0, 0, .5)!important;
}
#app, .navbar_element:active, .navbar_element_profile .navbar_element_title, .tabs .tab_active, .nav_options_whoToFollow_profile .nav_options_whoToFollow_profile_information b, .navbar_top_container_element:hover, .nav_options_tab{
    color:#000!important;
}
.nav_options_searchbar input, .input_search{
    background-color: rgba(0, 0, 0, .4);
}
.nav_options_whoToFollow_profile{
    color: rgba(0, 0, 0, .65)!important;
}
.nav_options_whoToFollow_profile:hover {
    background-color: rgba(0, 0, 0, .1);
}
.post .postAuthor:hover{
    background-color: #e4e4e4!important;
}
.nav_options_tab small {
    color: #666;
    transition: all .1s;
}
.nav_options_tab{
    background: transparent!important;
}
.navbar_top_container_element{
    color: rgba(0, 0, 0, .6)!important;
}
.navbar_top_container_element.navbar_top_container_element_active, .navbar_element_active{
    color:#000!important;
}
.navbar_top{
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}
#postEditor .post .postAuthor{
    border-bottom: 1px solid #ddd;
}
.write_post_tags .write_post_tag{
    background-color: #ddd;
}
.alert-msgs-con{
    color: rgba(0, 0, 0, .5);
}
.main_messages_convos{
    border-right: 1px solid rgba(0, 0, 0, .1);
}
.main_messages_convos .main_messages_convos_top{
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}
.main_messages_convos .main_messages_convos_top .main_messages_convos_elements .main_messages_convos_element{
    color: rgba(0, 0, 0, .5);
}
.main_messages_convos .main_messages_convos_top .main_messages_convos_elements .main_messages_convos_element:hover{
    color: rgba(0, 0, 0, 1);
}
.main_messages_im .main_messages_im_person{
    background-color: #f7f7f7;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}
.main_messages_write_message{
    background-color: #f7f7f7;
    border-top: 1px solid rgba(0, 0, 0, .1);
}
.main_messages_write_message_element{
    color: rgba(0, 0, 0, .5);
}
.main_messages_write_message_element:hover{
    color: rgba(0, 0, 0, 1);
}
.main_messages_write_message .main_messages_write_message_textarea{
    border-left: 1px solid rgba(0, 0, 0, .1);
    border-right: 1px solid rgba(0, 0, 0, .1);
}
.main_messages_write_message .main_messages_write_message_textarea textarea{
    color:#000;
}
.main_messages_write_message textarea::placeholder{
    color:rgba(0, 0, 0, .5);
}
.main_messages_convos .main_messages_convo{
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}
.main_messages_convos .main_messages_convo .main_messages_convo_info{
    color: rgba(0, 0, 0, 0.5);
}
.main_messages_convos .main_messages_convo:not(.main_messages_convo_active) .main_messages_convo_info b{
    color:#000;
}
.main_messages_im_msgs .main_messages_im_msg.main_messages_im_msg_b_u .main_messages_im_msg_itself{
    background-color: #eee!important;
}
.main_messages_im_msg_btns .main_messages_im_msg_btn{
    color: rgba(0, 0, 0, .5);
}
.main_messages_im_msg_btns .main_messages_im_msg_btn:hover{
    color: rgba(0, 0, 0, 1);
}
.mobile_nav{
    background-color: #f7f7f7;
    border-top: 1px solid rgba(0, 0, 0, .1);
}
.mobile_nav .mobile_nav_element{
    color: rgba(0, 0, 0, .5);
}
.inbox_msg{
    background-color: rgba(0, 0, 0, .1);
}
.inbox_msg_empty_here{
    color:rgba(0, 0, 0, .5)!important;
}
.profile_main_info_editable input:not(:read-only), .profile_main_info_editable textarea:not(:read-only){
    background-color: #fff;
}
.nav_options_tab_danger{
    color:#f00!important;
}
.popupContentPseudoInput{
    background-color: #e9e9e9!important;
}
.new_msgr_msgs{
    box-shadow: 0 4px 32px rgba(0, 0, 0, .2);
}
.new_msgr_avatar_whidn{
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, .3);
}
.mobile_new_nav .mobile_new_nav_element{
    color:rgba(0, 0, 0, .5);
}
.settings_main{
    background-color: #eee;
}
.popup_profile_close_btn{
    color: #fff;
}