<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/player/css/player.css">
    <link rel="stylesheet" href="/static/audioplayer/css/audioplayer.css">
    <link rel="shortcut icon" href="/static/images/icon.png" type="image/png">
    <link rel="stylesheet" href="/static/node_modules/boxicons/css/boxicons.min.css">
    <link rel="manifest" href="/manifest.json" />
    <link rel="apple-touch-icon" href="/static/images/icons/icon-512x512.png" />
    <meta name="apple-mobile-web-app-status-bar" content="#13b522" />
    <meta name="theme-color" content="#13b522" />
    <title>Жабблер</title>
</head>
<body>
    <div id="app">
        <div class="popup popup_do_not_close" id="JS_Loader">
            <div class="loader loader_cpa"><div class="loader_part loader_part_1"></div><div class="loader_part loader_part_2"></div><div class="loader_part loader_part_3"></div></div>
        </div>
        <style>
            .nav_options .nav_options_tab[href="/settings/profile"]{
                background-color: rgba(255, 255, 255, .2)!important;
                text-decoration: none;
            }
        </style>
        {include '../includes/navbar_top.latte'}
        <div class="container">
            {include '../includes/navbar.latte'}
            <main class="main">
                <div class="settings_main">
                    <div class="tabs only_mobile_flex">
                        <a class="tab" href="/settings/account">
                            {$language['account']}
                        </a>
                        <a class="tab tab_active" href="/settings/profile">
                            {$language['profile']}
                        </a>
                        <a class="tab" href="/settings/dashboard">
                            {$language['dashboard']}
                        </a>
                        <a class="tab" href="javascript:void(zhabbler.chooseLanguage());">
                            {$language['info']['flag']}
                        </a>
                        <a class="tab" href="javascript:void(zhabbler.destroySession());">
                            {$language['logout']}
                        </a>
                    </div>
                    <div class="title_fade">
                        <div>
                            <span>{$user->nickname}</span>
                        </div>
                        <div class="title_fade_buttons">
                            <button class="button button_gray" id="CancelBtn" style="display: none;" onclick="goToPage(window.location.pathname);">
                                {$language['cancel']}
                            </button>
                            <button class="button button_gray" id="CustomizeBtn" onclick="settings.customize_btn();">
                                {$language['customize']}
                            </button>
                            <button class="button" id="SaveSettingsBtn" onclick="settings.save_changes();" style="display:none;margin-left:10px;">
                                {$language['save']}
                            </button>
                        </div>
                    </div>
                    <div class="profile_main_pics"{(!empty($user->backgroundColor) ? ' style="background:'.$user->backgroundColor.';"' : ' style="background:#fff;"')|noescape}>
                        <div class="profile_main_pics_cover"{!empty($user->profileCover) ? ' style="background-image: url('.$user->profileCover.')"' : ''|noescape}>
                            <label class="settings_profile_uploader_images_btn" style="display:none;">
                                <input type="file" name="cover" onchange="settings.change_profile_cover(this);" accept="image/*" hidden>
                                <i class="bx bxs-pencil"></i>
                            </label>
                        </div>
                        <div class="profile_main_pics_pfp"{(!empty($user->backgroundColor) ? ' style="background:'.$user->backgroundColor.';"' : ' style="background:#fff;"')|noescape}>
                            <label class="settings_profile_uploader_images_btn" style="display:none;">
                                <input type="file" name="avatar" onchange="settings.change_profile_image(this);" accept="image/*" hidden>
                                <i class="bx bxs-pencil"></i>
                            </label>
                            <img src="{$user->profileImage}">
                        </div>
                    </div>
                    <div class="profile_main_info profile_main_info_editable"{(!empty($user->backgroundColor) ? ' style="background:'.$user->backgroundColor.';color:'.((new Utilities\Strings())->get_closest_color($user->backgroundColor) > 130 ? '#333333' : '#ffffff').';"' : ' style="background:#fff;"')|noescape}>
                        <div>
                            <input type="text" class="h2_input" value="{$user->name|noescape}" readonly>
                        </div>
                        <div>
                            <input type="text" class="nickname_input" value="{$user->nickname}" readonly>
                        </div>
                        <div>
                            <textarea type="text" class="biography_input" placeholder="{$language['no_biography']}" readonly>{$user->biography}</textarea>
                        </div>
                        <div class="profile_main_info_editable_colors" style="display:none;">
                            <label for="accent_color" class="profile_main_info_editable_color_label">
                                <div class="profile_main_info_editable_color_label_color_input">
                                    <input type="color" name="accent" id="accent_color" value="{(!empty($user->accentColor) ? $user->accentColor : '#13b552')|noescape}">
                                </div>
                                <div class="profile_main_info_editable_color_label_str">
                                    {$language['accent']}
                                </div>
                            </label>
                            <label for="background_color" class="profile_main_info_editable_color_label">
                                <div class="profile_main_info_editable_color_label_color_input">
                                    <input type="color" name="background" id="background_color" value="{(!empty($user->backgroundColor) ? $user->backgroundColor : '#ffffff')|noescape}">
                                </div>
                                <div class="profile_main_info_editable_color_label_str">
                                    {$language['background']}
                                </div>
                            </label>
                        </div>
                    </div>
                    <div>
                        <section class="settings_section">
                            <div class="settings_section_title">
                                <span>{$language['likes']}</span>
                            </div>
                            <div class="settings_section_content">
                                <input type="checkbox" id="liked_io" value="1" {($user->hideLiked != 1 ? "checked" : "")}>
                                <span>{$language['likes_about_conf_settings']}</span>
                            </div>
                        </section>
                        <section class="settings_section">
                            <div class="settings_section_title">
                                <span>{$language['following_tab']}</span>
                            </div>
                            <div class="settings_section_content">
                                <input type="checkbox" id="following_io" value="1" {($user->hideFollowing != 1 ? "checked" : "")}>
                                <span>{$language['following_about_conf_settings']}</span>
                            </div>
                        </section>
                        <section class="settings_section">
                            <div class="settings_section_title">
                                <span>{$language['questions']}</span>
                            </div>
                            <div class="settings_section_content">
                                <input type="checkbox" id="questions_io" value="1" {($user->askQuestions == 1 ? "checked" : "")}>
                                <span>{$language['questions_about_conf_settings']}</span>
                            </div>
                        </section>
                        <section class="settings_section">
                            <div class="settings_section_title">
                                <span>{$language['who_can_write_messages_to_me']}</span>
                            </div>
                            <div class="settings_section_content">
                                <select class="input" id="write_msgs">
                                    <option value="0" {($user->whoCanWriteMsgs == 0 ? "selected" : "")}>{$language['everyone']}</option>
                                    <option value="1" {($user->whoCanWriteMsgs == 1 ? "selected" : "")}>{$language['mutually_followed_to_only_message']}</option>
                                    <option value="2" {($user->whoCanWriteMsgs == 2 ? "selected" : "")}>{$language['nobody']}</option>
                                </select>
                            </div>
                        </section>
                    </div>
                </div>
            </main>
            {include '../includes/nav_options_settings.latte'}
        </div>
        <preloader src="/static/js/settings.js"></preloader>
        <preloader src="/static/js/new_messenger.js"></preloader>
        <preloader src="/static/player/js/zhabblerplayer.js"></preloader>
        <preloader src="/static/audioplayer/js/audioplayer.js"></preloader>
    </div>
    <script src="/static/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/static/node_modules/jquery-ui/dist/jquery-ui.min.js"></script>
    <script src="/static/js/main.js"></script>
</body>
</html>
