explore: "Explore"
account: "Account"
zhabbler: "zhabbler"
popular: "Popular"
follow: "Follow"
liked: "liked"
share: "Share"
responds: "Responds"
repost: "Repost"
like: "Like"
copy_url_post: "Copy URL post"
unfollow: "Unfollow"
report: "Report"
block: "Block"
check_out_these_profile: "Check out these profiles"
todays_popular: "Popular today"
search_zhabbler: "Search on Zhabbler"
welcome_to_zhabbler_login_text: 'Welcome to '
login_text_promo: "You won’t be bored here! Make friends, write and watch the posts."
register: "Register"
login: "Login"
what_is_zhabbler: "What is Zhabbler?"
rules: "Rules"
privacy: "Privacy"
email: "Email"
password: "Password"
first_time_in_zhabbler: "First time on Zhabbler?"
have_you_been_here_before: "Have you been here before?"
name: "Name"
something_went_wrong: "Something went wrong! Try again later."
nickname: "Nickname"
some_fields_are_empty: "Some fields are empty"
error_big_name: "The name exceeds 48 characters!"
error_big_nickname: "Nickname is less than 3 characters or more than 20 characters!"
error_with_email: "Check your email!"
error_nickname_is_used: "This nickname is already used by another user!"
error_email_is_used: "This email is already being used by another user!"
error_nickname_symbols: "Only Latin characters and numbers are allowed in the nickname!"
home: "Home"
activity: "Activity"
messages: "Messages"
inbox: "Inbox"
settings: "Settings"
write: "Write"
likes: "Liked"
following: "Following"
logout: "Logout"
user_does_not_exists: "User with this email does not exists!"
incorrect_password: "Incorrect password!"
text: "Text"
photo: "Photo"
quote: "Quote"
dialog: "Dialog"
bold: "Bold"
italic: "Italic"
underline: "Underline"
add_url_link: "Add link"
remove_url_link: "Remove link"
text_color: "Text color"
custom_post_id: "Custom post ID"
who_can_do_reposts: "Who can repost?"
all: "All"
nobody: "Nobody"
who_can_write_comments: "Who can comment?"
post_content_contains: "Post content contains"
nothing_like_that: "Nothing like that"
spoilers: "Spoilers"
heading: "Heading"
go_ahead_put_smth: "Go ahead, put something."
something_somebody_else_said_here: "Something somebody else said here."
frog_croak_croak: "Frog: croak, croak..."
close: "Close"
publish: "Publish"
upload_image: "Upload image"
following_tab: "Following"
delete_this_post: "Delete this post?"
no: "No"
yes: "Yes"
cancel: "Cancel"
delete: "Delete"
cannot_use_user_post_id: "This user post ID cannot be used!"
profile_settings: "Profile settings"
posts: "Posts"
need_to_verify_email: "You need to confirm email to continue."
error_small_password: "The password must be long than 8 characters!"
spoilers_warning_post: "This post may contain spoilers"
customize: "Customize"
save: "Save"
add_biography: "Add biography"
no_biography: "Biography is empty"
likes_about_conf_settings: "Everyone will see which posts you liked"
following_about_conf_settings: "Everyone will see a list of users you follow"
private_profile: "Private profile"
private_profile_about_conf_settings: "Your profile will be visible to those users to whom you have approved a follow request"
visibility: "Visibility"
visibility_about_conf_setting: "Your profile will only be visible to registered users"
write_your_comment: "Write your comment"
account_settings: "Account settings"
about_settings_account: "Basic data"
about_settings_profile: "Privacy, public data, profile pictures"
profile: "Profile"
dashboard: "Dashboard"
about_settings_dashboard: "Customize dashboard interface and newsfeed"
delete_profile: "Delete account"
about_settings_delete_profile: "Delete all profile data without possibility of recovery"
dashboard_settings: "Dashboard and newsfeed settings"
accent_color_settings: "Accent color"
background_color_settings: "Background color"
background_url_settings: "Image URL for background"
urlid_symbols_error: "Only Latin letters and numbers are allowed in user post ID!"
login_error_banned_user: "Your profile has been blocked for violating Zhabbler rules. The reason is "
its_so_empty_here: "It's so empty here!"
delete_this_comment: "Delete this comment?"
january: "January"
february: "February"
march: "March"
april: "April"
may: "May"
june: "June"
july: "July"
august: "August"
september: "September"
october: "October"
november: "November"
december: "December"
profile_no_posts: "This user hasn't posted anything yet."
add_people_home_page: "Start following other users so the page is not empty."
followed_no_posts: "No one has written a post from your subscriptions."
enter_nickname: "Enter nickname"
to_messages: "Back to messages"
messages_warning: "No one has written to you. Write to someone."
start_entering_a_query: "Start entering a query."
nothing_found: "Nothing was found, check your query."
you_have_unread_msgs: "You have unread messages from "
message: "Message"
failed_to_connect_msgs: "Unable to connect to the message server. Try again later."
connecting_to_msgs: "Connecting to the message server..."
navbar_settings: "Navbar style"
reposted: "reposted"
inbox_empty: "Your inbox is empty."
view_post: "View post"
r_u_sure_to_report: "Do you want to report this user?"
report_info: "We only block users who break <a href='/help/rules'>the Zhabbler rules</a>."
err_photo_post: "Please wait for the image to upload."
load_more: "Load more"
register_closed_info: "Registration is currently closed.<br>Ask an administrator to register you."
profiles: "Profiles"
often_searched: "Often searched"
current_password: "Current password"
new_password: "New password"
sessions: "Sessions"
logout_from_all_sessions: "Logout from all sessions"
failed_change_email: "Failed to change e-mail address"
show_hide_sessions: "Show/hide sessions"
added_comment_to_ur_post: "Added a comment to your post"
activity_warning: "There's no activity here..."
reposted_ur_post: "Reposted your post"
failed_to_copy: "Failed to copy link"
successfly_copied: "The link to the post has been successfully copied. Paste it into any social network."
user_no_following: "This user isn't following anyone."
followers: "followers"
your_liked_posts_cannot_see: "Only you can see the list of posts you have liked."
your_followings_cannot_see: "Only you can see the list of people you have followed."
ban: "Ban"
reply: "Reply"
mentioned_u: "Mentioned you in the comments"
questions: "Questions"
questions_about_conf_settings: "Allow other users to ask you questions (they can be anonymous)"
ask_me_a_question: "Ask a question"
do_not_disturb: "Do not disturb"
do_not_disturb_about_conf_settings: "Do not open a dialog with a user who has written a new message to you"
ask_anonymously: "Ask anonymously"
ask: "Ask"
anonymous: "Anonymous"
successfully_asked: "You have successfully asked a user a question"
asked: "asked"
answer: "Reply"
connection_to_msgs_down: "Connection to the server is down."
err_video_post: "Please wait while the video uploads."
video: "Video"
photo_loader_error: "Please wait while the image uploads."
upload_video: "Upload video"
policy_privacy: "Privacy policy"
your_tags: "Your tags"
search_tags: "Search tags"
add_tags: "Add tags"
adding_tag_tip: "Click on a tag to add it"
done: "Done"
add_tags_to_help_people_find_your_post: "add tags to help people find your post"
tags_warning_post_heading: "Publish without tags?"
tags_warning_post: "Adding tags will help people find your post."
tags_u_followed: "Tags you're followed to"
show_more: "Show more"
email_top_warn: "Warning! Confirm your email address by clicking the link we sent you, otherwise your account will be deleted."
you_needed_to_activate_account: "You need to activate your account."
connecting: "Connecting..."
loading: "Loading..."
sending: "Sending..."
new_msg_notify: " wrote you a new message!"
do_u_want_to_delete_message: "Delete message?"
recent: "Recent"
tags: "Tags"
go_to: "Go to:"
forgot_password: "Forgot password?"
back: "Back"
continue: "Continue"
reset_password: "Reset password"
password_reset_email_sent: "If your account exists in Zhabbler, you will receive an email with a link to reset your password."
repeat_password: "Repeat password"
passwords_doesnt_match: "Passwords do not match."
email_code_error: "Action failed. Try again later."
color_pallete: "Color pallete"
true_green: "True green"
ghost: "Ghost"
dark: "Dark"
popular_today: "Popular today"
need_to_login: "You need to login."
photo_limit: "Warning: You can only upload 15 images."
video_limit: "Warning: You can only upload 10 videos."
posted_to: "Posted to"
post_deleted: "Post deleted"
view_profile: "View profile"
user_not_found: "User not found"
user_banned: "User is banned"
user_not_found_info: "User does not exist or user has been deleted."
user_banned_info: "User has been banned for violating Zhabbler rules."
accent: "Accent"
background: "Background"
posted_by: "Posted by"
new_post: "New post"
go_to_tag: "Go to tag"
mentions: "Mentions"
reposts: "Reposts"
everyone: "Everyone"
new_message: "New message"
donate: "Donate"
who_can_write_messages_to_me: "Who can write messages to me?"
mutually_followed_to_only_message: "Only those I am mutually followed to"
new_messages_disabled: "Messaging unavailable"
add_images_from_web: "Add an image from the internet"
enter_or_paste_url: "Enter or paste URL link"
url_image_error: "Something wrong with the image URL."
failed_to_upload_image: "Failed to upload image."
edit: "Edit"
we_hope_it_was_u: "We hope it was you."
new_login_info: "Somebody have just logged in to your account. If it was not you, please change your password in the settings immediately."
audio: "Audio"
upload_audio: "Upload audio"
audio_limit: "Warning: You can only upload 10 audios."
add_audio_from_web: "Add an audio from the internet"
add_videos_from_web: "Add a video from the internet"
unsupported_link: "We do not support the addition of this site's media"
audio_name: "Audio title"
err_audio_post: "Please wait for the audio to upload."
classic: "Classic"