explore: "Esplori"
account: "Konto"
zhabbler: "zhabbler"
popular: "Populara"
follow: "Sekvi"
liked: "ŝatis"
share: "Parto"
replies: "Respondas"
repost: "Repost"
like: "Kiel"
copy_url_post: "Kopii URL-afiŝon"
unfollow: "Sekvu"
report: "Raporto"
block: "Bloko"
check_out_these_profile: "Kontrolu ĉi tiujn profilojn"
todays_popular: "Populara hodiaŭ"
search_zhabbler: "Serĉu sur Zhabbler"
welcome_to_zhabbler_login_text: "Bonvenon al "
login_text_promo: "Vi ne enuas ĉi tie! Faru amikojn, skribu kaj spektu la afiŝojn."
register: "Registriĝi"
login: "Ensaluti"
what_is_zhabbler: "Kio estas Zhabbler?"
rules: "Reguloj"
privacy: "Privateco"
email: "Retpoŝto"
password: "Pasvorto"
first_time_in_zhabbler: "Unua fojo ĉe Zhabbler?"
have_you_been_here_before: "Ĉu vi jam estis ĉi tie?"
name: "Nomo"
something_went_wrong: "Io misfunkciis! Provu denove poste."
nickname: "Kromnomo"
some_fields_are_empty: "Kelkaj kampoj estas malplenaj"
error_big_name: "La nomo superas 48 signojn!"
error_big_nickname: "Moknomo estas malpli ol 3 karakteroj aŭ pli ol 20 karakteroj!"
error_with_email: "Kontrolu vian retpoŝton!"
error_nickname_is_used: "Ĉi tiu kromnomo estas jam uzata de alia uzanto!"
error_email_is_used: "Ĉi tiu retpoŝto estas jam uzata de alia uzanto!"
error_nickname_symbols: "Nur latinaj signoj kaj nombroj estas permesitaj en la kromnomo!"
home: "Hejmo"
activity: "Aktiveco"
messages: "Mesaĝoj"
inbox: "Enirkesto"
settings: "Agordoj"
write: "Skribi"
likes: "Ŝatis"
following: "Sekvanta"
logout: "Elsaluti"
user_does_not_exists: "Uzanto kun ĉi tiu retpoŝto ne ekzistas!"
incorrect_password: "Malĝusta pasvorto!"
text: "Teksto"
photo: "Foto"
quote: "Citaĵo"
dialog: "Dialogo"
bold: "Kuraĝa"
italic: "Kursiva"
underline: "Substreki"
add_url_link: "Aldoni ligon"
remove_url_link: "Forigi ligon"
text_color: "Teksta koloro"
custom_post_id: "Propra afiŝo ID"
who_can_do_reposts: "Kiu povas republikigi?"
all: "Ĉiuj"
nobody: "Neniu"
who_can_write_comments: "Kiu povas komenti?"
post_content_contains: "Afiŝu enhavon enhavas"
nothing_like_that: "Nenio tia"
spoilers: "Difektantoj"
heading: "Titolo"
go_ahead_put_smth: "Antaŭen, metu ion."
something_somebody_else_said_here: "Ĉi tie diris io alia."
frog_croak_croak: "kvako, kvako..."
close: "Proksimi"
publish: "Publikigi"
upload_image: "Alŝuti bildon"
following_tab: "Sekvanta"
delete_this_post: "Forigi tiun ĉi afiŝon?"
no: "Ne"
yes: "Jes"
cancel: "Nuligi"
delete: "Forigi"
cannot_use_user_post_id: "Ĉi tiu uzanto-afiŝo ID ne povas esti uzata!"
profile_settings: "Profilaj agordoj"
posts: "Afiŝoj"
need_to_verify_email: "Vi devas konfirmi retpoŝton por daŭrigi."
error_small_password: "La pasvorto devas esti longa ol 8 signoj!"
spoilers_warning_post: "Ĉi tiu afiŝo povas enhavi spoilers"
customize: "Personecigi"
save: "Ŝpari"
add_biography: "Aldoni biografion"
no_biography: "Biografio estas malplena"
likes_about_conf_settings: "Ĉiuj vidos, kiujn afiŝojn vi ŝatis"
following_about_conf_settings: "Ĉiuj vidos liston de uzantoj, kiujn vi sekvas"
private_profile: "Privata profilo"
private_profile_about_conf_settings: "Via profilo estos videbla al tiuj uzantoj, al kiuj vi aprobis sekvan peton"
visibility: "Videbleco"
visibility_about_conf_setting: "Via profilo estos videbla nur por registritaj uzantoj"
write_your_comment: "Skribu vian komenton"
account_settings: "Kontagordoj"
about_settings_account: "Bazaj datumoj"
about_settings_profile: "Privateco, publikaj datumoj, profilbildoj"
profile: "Profilo"
dashboard: "Panelo"
about_settings_dashboard: "Agordu panelan interfacon kaj novaĵfluon"
delete_profile: "Forigi konton"
about_settings_delete_profile: "Forigu ĉiujn profildatenojn sen ebleco de normaligo"
dashboard_settings: "Dashboard kaj novaĵmanĝaĵoj"
accent_color_settings: "Akcenta koloro"
background_color_settings: "Fona koloro"
background_url_settings: "Bildo URL por fono"
urlid_symbols_error: "Nur latinaj literoj kaj numeroj estas permesitaj en uzanta afiŝo ID!"
login_error_banned_user: "Via profilo estis blokita pro malobservo de Zhabbler-reguloj. La kialo estas "
its_so_empty_here: "Estas tiel malplena ĉi tie!"
delete_this_comment: "Forigi tiun komenton?"
january: "Januaro"
february: "Februaro"
march: "Marto"
april: "April"
may: "May"
june: "Junio"
july: "July"
august: "Aŭgusto"
september: "September"
october: "Oktobro"
november: "Novembro"
december: "Decembro"
profile_no_posts: "Ĉi tiu uzanto ankoraŭ nenion afiŝis."
add_people_home_page: "Komencu sekvi aliajn uzantojn por ke la paĝo ne estu malplena."
followed_no_posts: "Neniu skribis afiŝon de viaj abonoj."
enter_nickname: "Enigu kromnomon"
to_messages: "Reiri al mesaĝoj"
messages_warning: "Neniu skribis al vi. Skribu al iu."
start_entering_a_query: "Komencu eniri demandon."
nothing_found: "Nenio estis trovita, kontrolu vian demandon."
you_have_unread_msgs: "Vi havas nelegitajn mesaĝojn de "
message: "Mesaĝo"
failed_to_connect_msgs: "Ne eblas konektiĝi al la mesaĝservilo. Provu denove poste."
connecting_to_msgs: "Konektante al la mesaĝservilo..."
navbar_settings: "Navbar stilo"
reposted: "reposted"
inbox_empty: "Via enirkesto estas malplena."
view_post: "Vidi afiŝon"
r_u_sure_to_report: "Ĉu vi volas raporti pri tiu uzanto?"
report_info: "Ni nur blokas uzantojn, kiuj rompas <a href=/help/rules>the Zhabbler rules</a>."
err_photo_post: "Bonvolu atendi, ke la bildo alŝutiĝu."
load_more: "Ŝarĝi pli"
register_closed_info: "Registrado estas nuntempe fermita.<br>Ask administranto por registri vin."
profiles: "Profiloj"
often_searched: "Ofte serĉata"
current_password: "Nuna pasvorto"
new_password: "Nova pasvorto"
sessions: "Sesioj"
logout_from_all_sessions: "Elsaluti el ĉiuj sesioj"
failed_change_email: "Ne ŝanĝis retpoŝtadreson"
show_hide_sessions: "Montri/kaŝi sesiojn"
added_comment_to_ur_post: "Aldonu vian komenton al via afiŝo"
activity_warning: "Ne estas agado ĉi tie..."
reposted_ur_post: "Republikigis vian afiŝon"
failed_to_copy: "Malsukcesis kopii ligon"
successfly_copied: "La ligilo al la afiŝo estis sukcese kopiita. Algluu ĝin en ajnan socian reton."
user_no_following: "Ĉi tiu uzanto sekvas neniun."
followers: "partianoj"
your_liked_posts_cannot_see: "Nur vi povas vidi la liston de afiŝoj, kiujn vi ŝatis."
your_followings_cannot_see: "Nur vi povas vidi la liston de homoj, kiujn vi sekvis."
ban: "Malpermeso"
reply: "Respondi"
mentioned_u: "Menciu vin en la komentoj"
questions: "Demandoj"
questions_about_conf_settings: "Permesu al aliaj uzantoj demandi al vi demandojn (ili povas esti anonimaj)"
ask_me_a_question: "Demandu demandon"
do_not_disturb: "Ne ĝenu"
do_not_disturb_about_conf_settings: "Ne malfermu dialogon kun uzanto, kiu skribis al vi novan mesaĝon"
ask_anonymously: "Demandu anonime"
ask: "Demandu"
anonymous: "Anonimaj"
successfully_asked: "Vi sukcese starigis demandon al uzanto"
asked: "demandis"
answer: "Respondi"
connection_to_msgs_down: "Konekto al la servilo estas malfunkciigita."
err_video_post: "Bonvolu atendi dum la video alŝutas."
video: "Video"
photo_loader_error: "Bonvolu atendi dum la bildo alŝutas."
upload_video: "Alŝuti videon"
policy_privacy: "Privateca politiko"
your_tags: "Viaj etikedoj"
search_tags: "Serĉaj etikedoj"
add_tags: "Aldoni etikedojn"
adding_tag_tip: "Alklaku sur etikedo por aldoni ĝin"
done: "Farita"
add_tags_to_help_people_find_your_post: "aldonu etikedojn por helpi homojn trovi vian afiŝon"
tags_warning_post_heading: "Publikigi sen etikedoj?"
tags_warning_post: "Aldonaj etikedoj helpos homojn trovi vian afiŝon."
tags_u_followed: "Etikedoj, kiujn vi sekvis"
show_more: "Montri pli"
email_top_warn: "Averto! Konfirmu vian retpoŝtadreson alklakante la ligilon, kiun ni sendis al vi, alie via konto estos forigita."
you_needed_to_activate_account: "Vi devas aktivigi vian konton."
connecting: "Konektante..."
loading: "Ŝargado..."
sending: "Sendi..."
new_msg_notify: " mi skribis al vi novan mesaĝon!"
do_u_want_to_delete_message: "Forigi mesaĝon?"
recent: "Lastatempa"
tags: "Etikedoj"
go_to: "Iru al:"
forgot_password: "Forgesis pasvorton?"
back: "Dorso"
continue: "Daŭrigi"
reset_password: "Restarigi pasvorton"
password_reset_email_sent: "Se via konto ekzistas en Zhabbler, vi ricevos retpoŝton kun ligilo por restarigi vian pasvorton."
repeat_password: "Ripeti pasvorton"
passwords_doesnt_match: "Pasvortoj ne kongruas."
email_code_error: "Ago malsukcesis. Provu denove poste."
color_pallete: "Kolora palleto"
true_green: "Verdo"
ghost: "Fantomo"
dark: "Malhela"
popular_today: "Populara hodiaŭ"
need_to_login: "Vi devas ensaluti."
photo_limit: "Vi povas nur elŝuti 15 bildojn."
video_limit: "Vi povas nur alŝuti 10 filmetojn."
posted_to: "Afiŝis al"
post_deleted: "Afiŝu forigita"
view_profile: "Vidi profilon"
user_not_found: "Uzanto ne trovita"
user_banned: "Uzanto estas malpermesita"
user_not_found_info: "Uzanto ne ekzistas aŭ uzanto estis forigita."
user_banned_info: "Uzanto estis malpermesita pro malobservo de Zhabbler-reguloj."
accent: "Akcento"
background: "Fono"
posted_by: "Afiŝita de"
new_post: "Nova afiŝo"
go_to_tag: "Iru por etikedi"
mentions: "Mencioj"
reposts: "Repoŝtaĵoj"
everyone: "Ĉiuj"
new_message: "Nova mesaĝo"
donate: "Donaco"
who_can_write_messages_to_me: "Kiu povas sendi mesaĝojn al mi?"
mutually_followed_to_only_message: "Nur tiujn mi reciproke sekvas"
new_messages_disabled: "Mesaĝado ne havebla"
add_images_from_web: "Aldonu bildon el la interreto"
enter_or_paste_url: "Enigu aŭ algluu URL-ligilon"
url_image_error: "Io malbona kun la bildo URL."
failed_to_upload_image: "Malsukcesis alŝuti bildon."
edit: "Redakti"
we_hope_it_was_u: "Ni esperas, ke ĝi estis vi."
new_login_info: "Iu ĵus ensalutis al via konto. Se ĝi ne estis vi, bonvolu ŝanĝi vian pasvorton en la agordoj tuj."
audio: "Audio"
upload_audio: "Alŝuti audio"
audio_limit: "Vi povas nur alŝuti 10 aŭdilojn."
add_audio_from_web: "Aldonu aŭdion el la interreto"
add_videos_from_web: "Aldonu filmeton el interreto"
unsupported_link: "Ni ne subtenas la aldonon de ĉi tiu retejo amaskomunikiloj"
audio_name: "Aŭdtitolo"
err_audio_post: "Bonvolu atendi, ke la audio alŝuto."
classic: "Klasika"
save_as_draft: "Konservi kiel skizo"
followers_section: "Sekvantoj"
drafts: "Malnetoj"
empty_post_content: "Ne eblas konservi malneton. Afiŝo estas malplena."
sucessfully_saved_draft: "Afiŝi malneton konservita"
delete_draft: "Ĉu forigi malneton?"
draft_deleted: "Malneto forigita"
following_you: "sekvante ŝin"
about_zhabbler_1: "Zhabbler estas tiel facile uzebla, ke malfacilas klarigi ĝin."
about_zhabbler_1_info: "Ni faris ĝin tre, tre simpla, por ke homoj povu komenci blogon kaj afiŝi kion ajn ili volas sur ĝi. Rakontojn, fotojn, GIF-ojn, televidajn programojn, ligilojn, citaĵojn, stultajn ŝercojn, lertajn ŝercojn, SoundCloud-trakojn, mp3-ojn, filmetojn, modon, arton, profundajn aferojn. Zhabbler estas abundo da diversaj blogoj plenaj de laŭvorte ĉio."
about_zhabbler_2: "Zhabbler temas pri blogoj."
about_zhabbler_2_info: "Rezultas, ke kiam vi faciligas krei interesajn aferojn, tio estas ĝuste kion homoj faras. Ĉiuj tiuj bonegaj, hazardaj blogoj, kiujn viaj amikoj sendas al vi, estas Zhabbler-blogoj. Ni helpos vin trovi tiujn blogojn kaj sekvi ilin, kaj helpos aliajn homojn trovi kaj sekvi viajn."
about_zhabbler_3: "Vi jam scias kiel tio funkcias."
about_zhabbler_3_info: "Se vi sekvis blogon, ĉiuj ĝiaj afiŝoj aperas sur via instrumentpanelo kiel vi atendus. Ĉu vi vidas ion interesan? Reafiŝu ĝin en via blogo. Skribu komentojn se vi volas. Faru ĝin via propra. Aliaj homoj faros same kun viaj afiŝoj. Tiel vi ekkonas homojn."
about_zhabbler_4: "Serioze, aldonu kion ajn vi volas al la afiŝo."
about_zhabbler_4_info: "Ses specoj de afiŝoj por komenci. Via cerbo faros la reston. Ĉi tiu afero estas via. Uzu ĝin laŭ via plaĉo."