explore: "Explorar"  
account: "Cuenta"  
zhabbler: "zhabbler"  
popular: "Popular"  
follow: "Seguir"  
liked: "me gustó"  
share: "Compartir"  
replies: "Respuestas"  
repost: "Republicar"  
like: "Me gusta"  
copy_url_post: "Copiar URL de la publicación"  
unfollow: "Dejar de seguir"  
report: "Reportar"  
block: "Bloquear"  
check_out_these_profile: "Mira estos perfiles"  
todays_popular: "Popular hoy"  
search_zhabbler: "Buscar en Zhabbler"  
welcome_to_zhabbler_login_text: 'Bienvenido a '  
login_text_promo: "¡No te aburrirás aquí! Haz amigos, escribe y mira publicaciones."  
register: "Registrarse"  
login: "Iniciar sesión"  
what_is_zhabbler: "¿Qué es Zhabbler?"  
rules: "Reglas"  
privacy: "Privacidad"  
email: "Correo electrónico"  
password: "Contraseña"  
first_time_in_zhabbler: "¿Primera vez en Zhabbler?"  
have_you_been_here_before: "¿Has estado aquí antes?"  
name: "Nombre"  
something_went_wrong: "¡Algo salió mal! Inténtalo más tarde."  
nickname: "Apodo"  
some_fields_are_empty: "Algunos campos están vacíos"  
error_big_name: "¡El nombre supera los 48 caracteres!"  
error_big_nickname: "¡El apodo tiene menos de 3 caracteres o más de 20!"  
error_with_email: "¡Verifica tu correo electrónico!"  
error_nickname_is_used: "¡Este apodo ya está en uso por otro usuario!"  
error_email_is_used: "¡Este correo electrónico ya está en uso por otro usuario!"  
error_nickname_symbols: "¡Solo se permiten letras latinas y números en el apodo!"  
home: "Inicio"  
activity: "Actividad"  
messages: "Mensajes"  
inbox: "Bandeja de entrada"  
settings: "Configuración"  
write: "Escribir"  
likes: "Me gusta"  
following: "Siguiendo"  
logout: "Cerrar sesión"  
user_does_not_exists: "¡No existe un usuario con este correo electrónico!"  
incorrect_password: "¡Contraseña incorrecta!"  
text: "Texto"  
photo: "Foto"  
quote: "Cita"  
dialog: "Diálogo"  
bold: "Negrita"  
italic: "Cursiva"  
underline: "Subrayado"  
add_url_link: "Añadir enlace"  
remove_url_link: "Eliminar enlace"  
text_color: "Color del texto"  
custom_post_id: "ID de publicación personalizado"  
who_can_do_reposts: "¿Quién puede republicar?"  
all: "Todos"  
nobody: "Nadie"  
who_can_write_comments: "¿Quién puede comentar?"  
post_content_contains: "El contenido de la publicación contiene"  
nothing_like_that: "Nada de eso"  
spoilers: "Spoilers"  
heading: "Título"  
go_ahead_put_smth: "Adelante, escribe algo."  
something_somebody_else_said_here: "Algo que alguien más dijo aquí."  
frog_croak_croak: "Rana: croac, croac..."  
close: "Cerrar"  
publish: "Publicar"  
upload_image: "Subir imagen"  
following_tab: "Siguiendo"  
delete_this_post: "¿Eliminar esta publicación?"  
no: "No"  
yes: "Sí"  
cancel: "Cancelar"  
delete: "Eliminar"  
cannot_use_user_post_id: "¡No se puede usar este ID de publicación de usuario!"  
profile_settings: "Configuración del perfil"  
posts: "Publicaciones"  
need_to_verify_email: "Debes confirmar tu correo electrónico para continuar."  
error_small_password: "¡La contraseña debe tener más de 8 caracteres!"  
spoilers_warning_post: "Esta publicación puede contener spoilers"  
customize: "Personalizar"  
save: "Guardar"  
add_biography: "Añadir biografía"  
no_biography: "La biografía está vacía"  
likes_about_conf_settings: "Todos verán qué publicaciones te gustaron"  
following_about_conf_settings: "Todos verán la lista de usuarios que sigues"  
private_profile: "Perfil privado"  
private_profile_about_conf_settings: "Tu perfil será visible para los usuarios a quienes hayas aprobado su solicitud de seguimiento"  
visibility: "Visibilidad"  
visibility_about_conf_setting: "Tu perfil solo será visible para usuarios registrados"  
write_your_comment: "Escribe tu comentario"  
account_settings: "Configuración de la cuenta"  
about_settings_account: "Datos básicos"  
about_settings_profile: "Privacidad, datos públicos, fotos de perfil"  
profile: "Perfil"  
dashboard: "Panel"  
about_settings_dashboard: "Personaliza la interfaz del panel y el feed de noticias"  
delete_profile: "Eliminar cuenta"  
about_settings_delete_profile: "Eliminar todos los datos del perfil sin posibilidad de recuperación"  
dashboard_settings: "Configuración del panel y feed de noticias"  
accent_color_settings: "Color de acento"  
background_color_settings: "Color de fondo"  
background_url_settings: "URL de imagen para el fondo"  
urlid_symbols_error: "¡Solo se permiten letras latinas y números en el ID de publicación de usuario!"  
login_error_banned_user: "Tu perfil ha sido bloqueado por violar las reglas de Zhabbler. La razón es "  
its_so_empty_here: "¡Está muy vacío aquí!"  
delete_this_comment: "¿Eliminar este comentario?"  
january: "Enero"  
february: "Febrero"  
march: "Marzo"  
april: "Abril"  
may: "Mayo"  
june: "Junio"  
july: "Julio"  
august: "Agosto"  
september: "Septiembre"  
october: "Octubre"  
november: "Noviembre"  
december: "Diciembre"  
profile_no_posts: "Este usuario aún no ha publicado nada."  
add_people_home_page: "Comienza a seguir a otros usuarios para que la página no esté vacía."  
followed_no_posts: "Nadie ha escrito una publicación en tus suscripciones."  
enter_nickname: "Ingresa un apodo"  
to_messages: "Volver a mensajes"  
messages_warning: "Nadie te ha escrito. Envíale un mensaje a alguien."  
start_entering_a_query: "Comienza a escribir una consulta."  
nothing_found: "No se encontró nada, verifica tu consulta."  
you_have_unread_msgs: "Tienes mensajes sin leer de "  
message: "Mensaje"  
failed_to_connect_msgs: "No se pudo conectar al servidor de mensajes. Inténtalo más tarde."  
connecting_to_msgs: "Conectando al servidor de mensajes..."  
navbar_settings: "Estilo de la barra de navegación"  
reposted: "republicado"  
inbox_empty: "Tu bandeja de entrada está vacía."  
view_post: "Ver publicación"  
r_u_sure_to_report: "¿Quieres reportar a este usuario?"  
report_info: "Solo bloqueamos a usuarios que violan <a href='/help/rules'>las reglas de Zhabbler</a>."  
err_photo_post: "Espera a que se suba la imagen."  
load_more: "Cargar más"  
register_closed_info: "El registro está cerrado actualmente.<br>Pídele a un administrador que te registre."  
profiles: "Perfiles"  
often_searched: "Búsquedas frecuentes"  
current_password: "Contraseña actual"  
new_password: "Nueva contraseña"  
sessions: "Sesiones"  
logout_from_all_sessions: "Cerrar sesión en todas las sesiones"  
failed_change_email: "Error al cambiar la dirección de correo electrónico"  
show_hide_sessions: "Mostrar/ocultar sesiones"  
added_comment_to_ur_post: "Añadió un comentario a tu publicación"  
activity_warning: "No hay actividad aquí..."  
reposted_ur_post: "Republicó tu publicación"  
failed_to_copy: "Error al copiar el enlace"  
successfly_copied: "El enlace a la publicación se copió correctamente. Péguelo en cualquier red social."  
user_no_following: "Este usuario no sigue a nadie."  
followers: "seguidores"  
your_liked_posts_cannot_see: "Solo tú puedes ver la lista de publicaciones que te gustaron."  
your_followings_cannot_see: "Solo tú puedes ver la lista de personas que sigues."  
ban: "Prohibir"  
reply: "Responder"  
mentioned_u: "Te mencionó en los comentarios"  
questions: "Preguntas"  
questions_about_conf_settings: "Permitir que otros usuarios te hagan preguntas (pueden ser anónimas)"  
ask_me_a_question: "Hazme una pregunta"  
do_not_disturb: "No molestar"  
do_not_disturb_about_conf_settings: "No abrir un diálogo con un usuario que te haya escrito un mensaje nuevo"  
ask_anonymously: "Preguntar anónimamente"  
ask: "Preguntar"  
anonymous: "Anónimo"  
successfully_asked: "Has hecho una pregunta a un usuario con éxito"  
asked: "preguntó"  
answer: "Responder"  
connection_to_msgs_down: "La conexión con el servidor está caída."  
err_video_post: "Espera a que se suba el video."  
video: "Video"  
photo_loader_error: "Espera a que se suba la imagen."  
upload_video: "Subir video"  
policy_privacy: "Política de privacidad"  
your_tags: "Tus etiquetas"  
search_tags: "Buscar etiquetas"  
add_tags: "Añadir etiquetas"  
adding_tag_tip: "Haz clic en una etiqueta para añadirla"  
done: "Hecho"  
add_tags_to_help_people_find_your_post: "añade etiquetas para ayudar a otros a encontrar tu publicación"  
tags_warning_post_heading: "¿Publicar sin etiquetas?"  
tags_warning_post: "Añadir etiquetas ayudará a otros a encontrar tu publicación."  
tags_u_followed: "Etiquetas que sigues"  
show_more: "Mostrar más"  
email_top_warn: "¡Advertencia! Confirma tu dirección de correo electrónico haciendo clic en el enlace que te enviamos, de lo contrario tu cuenta será eliminada."  
you_needed_to_activate_account: "Debes activar tu cuenta."  
connecting: "Conectando..."  
loading: "Cargando..."  
sending: "Enviando..."  
new_msg_notify: " ¡te escribió un mensaje nuevo!"  
do_u_want_to_delete_message: "¿Eliminar mensaje?"  
recent: "Reciente"  
tags: "Etiquetas"  
go_to: "Ir a:"  
forgot_password: "¿Olvidaste tu contraseña?"  
back: "Atrás"  
continue: "Continuar"  
reset_password: "Restablecer contraseña"  
password_reset_email_sent: "Si tu cuenta existe en Zhabbler, recibirás un correo con un enlace para restablecer tu contraseña."  
repeat_password: "Repetir contraseña"  
passwords_doesnt_match: "Las contraseñas no coinciden."  
email_code_error: "Error en la acción. Inténtalo más tarde."  
color_pallete: "Paleta de colores"  
true_green: "Verde verdadero"  
ghost: "Fantasma"  
dark: "Oscuro"  
popular_today: "Popular hoy"  
need_to_login: "Debes iniciar sesión."  
photo_limit: "Advertencia: Solo puedes subir 15 imágenes."  
video_limit: "Advertencia: Solo puedes subir 10 videos."  
posted_to: "Publicado en"  
post_deleted: "Publicación eliminada"  
view_profile: "Ver perfil"  
user_not_found: "Usuario no encontrado"  
user_banned: "Usuario baneado"  
user_not_found_info: "El usuario no existe o ha sido eliminado."  
user_banned_info: "El usuario ha sido baneado por violar las reglas de Zhabbler."  
accent: "Acento"  
background: "Fondo"  
posted_by: "Publicado por"  
new_post: "Nueva publicación"  
go_to_tag: "Ir a la etiqueta"  
mentions: "Menciones"  
reposts: "Republicaciones"  
everyone: "Todos"  
new_message: "Nuevo mensaje"  
donate: "Donar"  
who_can_write_messages_to_me: "¿Quién puede enviarme mensajes?"  
mutually_followed_to_only_message: "Solo aquellos a quienes sigo mutuamente"  
new_messages_disabled: "Mensajería no disponible"  
add_images_from_web: "Añadir una imagen desde internet"  
enter_or_paste_url: "Ingresa o pega una URL"  
url_image_error: "Algo salió mal con la URL de la imagen."  
failed_to_upload_image: "Error al subir la imagen."  
edit: "Editar"  
we_hope_it_was_u: "Esperamos que hayas sido tú."  
new_login_info: "Alguien acaba de iniciar sesión en tu cuenta. Si no fuiste tú, cambia tu contraseña en la configuración de inmediato."  
audio: "Audio"  
upload_audio: "Subir audio"  
audio_limit: "Advertencia: Solo puedes subir 10 audios."  
add_audio_from_web: "Añadir audio desde internet"  
add_videos_from_web: "Añadir video desde internet"  
unsupported_link: "No admitimos la adición de medios de este sitio"  
audio_name: "Título del audio"  
err_audio_post: "Espera a que se suba el audio."  
classic: "Clásico"  
save_as_draft: "Guardar como borrador"  
followers_section: "Seguidores"  
drafts: "Borradores"  
empty_post_content: "Error al guardar el borrador. La publicación está vacía."  
sucessfully_saved_draft: "Borrador guardado correctamente"  
delete_draft: "¿Eliminar borrador?"  
draft_deleted: "Borrador eliminado correctamente"  
following_you: "siguiéndote"  
about_zhabbler_1: "Zhabbler es tan fácil de usar que es difícil de explicar."  
about_zhabbler_1_info: "Lo hicimos muy, muy simple para que la gente pueda comenzar un blog y publicar lo que quiera en él. Historias, fotos, GIFs, programas de TV, enlaces, citas, chistes tontos, chistes inteligentes, pistas de SoundCloud, mp3s, videos, moda, arte, cosas profundas. Zhabbler es una gran cantidad de blogs diferentes llenos de literalmente cualquier cosa."  
about_zhabbler_2: "Zhabbler trata sobre blogs."  
about_zhabbler_2_info: "Resulta que cuando haces que sea fácil crear cosas interesantes, eso es exactamente lo que la gente hace. Todos esos blogs geniales y aleatorios que tus amigos te envían son blogs de Zhabbler. Te ayudaremos a encontrar esos blogs y seguirlos, y ayudar a otras personas a encontrar y seguir el tuyo."  
about_zhabbler_3: "Ya sabes cómo funciona esto."  
about_zhabbler_3_info: "Si seguiste un blog, todas sus publicaciones aparecerán en tu panel como esperarías. ¿Ves algo interesante? Republícalo en tu blog. Escribe comentarios si quieres. Hazlo tuyo. Otras personas harán lo mismo con tus publicaciones. Así es como llegas a conocer gente."  
about_zhabbler_4: "En serio, añade lo que quieras a la publicación."  
about_zhabbler_4_info: "Seis tipos de publicaciones para comenzar. Tu cerebro hará el resto. Esto es tuyo. Úsalo como te gusta usarlo."  