ru:
	name: "Русский"
	flag: "🇷🇺"
	code: "ru"
en:
	name: "English"
	flag: "🇺🇸"
	code: "en"
ua:
	name: "Українська"
	flag: "🇺🇦"
	code: "ua"
eo:
	name: "Esperanto"
	flag: "EO"
	code: "eo"
jp:
	name: "日本語"
	flag: "🇯🇵"
	code: "jp"
es:
	name: "Español"
	flag: "🇪🇸"
	code: "es"
pl:
	name: "Polski"
	flag: "🇵🇱"
	code: "pl"