explore: "Eksploruj"  
account: "Konto"  
zhabbler: "zhabbler"  
popular: "Popularne"  
follow: "Obserwuj"  
liked: "polubione"  
share: "Udostępnij"  
replies: "Odpowiedzi"  
repost: "Udostępnij ponownie"  
like: "Polub"  
copy_url_post: "Kopiuj URL posta"  
unfollow: "Przestań obserwować"  
report: "Zgłoś"  
block: "Zablokuj"  
check_out_these_profile: "Sprawdź te profile"  
todays_popular: "Popularne dziś"  
search_zhabbler: "Szukaj na Zhabbler"  
welcome_to_zhabbler_login_text: 'Witaj w '  
login_text_promo: "Nie będziesz się tu nudzić! Znajdź znajomych, pisz i czytaj posty."  
register: "Zarejestruj się"  
login: "Zaloguj się"  
what_is_zhabbler: "Co to jest Zhabbler?"  
rules: "Zasady"  
privacy: "Prywatność"  
email: "E-mail"  
password: "Hasło"  
first_time_in_zhabbler: "Pierwszy raz na Zhabbler?"  
have_you_been_here_before: "Byłeś tu wcześniej?"  
name: "Imię"  
something_went_wrong: "Coś poszło nie tak! Spróbuj później."  
nickname: "Pseudonim"  
some_fields_are_empty: "Niektóre pola są puste"  
error_big_name: "Imię przekracza 48 znaków!"  
error_big_nickname: "Pseudonim ma mniej niż 3 znaki lub więcej niż 20!"  
error_with_email: "Sprawdź swój e-mail!"  
error_nickname_is_used: "Ten pseudonim jest już używany przez innego użytkownika!"  
error_email_is_used: "Ten e-mail jest już używany przez innego użytkownika!"  
error_nickname_symbols: "W pseudonimie dozwolone są tylko litery łacińskie i cyfry!"  
home: "Strona główna"  
activity: "Aktywność"  
messages: "Wiadomości"  
inbox: "Odebrane"  
settings: "Ustawienia"  
write: "Napisz"  
likes: "Polubienia"  
following: "Obserwowani"  
logout: "Wyloguj się"  
user_does_not_exists: "Nie ma użytkownika z tym e-mailem!"  
incorrect_password: "Nieprawidłowe hasło!"  
text: "Tekst"  
photo: "Zdjęcie"  
quote: "Cytat"  
dialog: "Dialog"  
bold: "Pogrubienie"  
italic: "Kursywa"  
underline: "Podkreślenie"  
add_url_link: "Dodaj link"  
remove_url_link: "Usuń link"  
text_color: "Kolor tekstu"  
custom_post_id: "Niestandardowy ID posta"  
who_can_do_reposts: "Kto może udostępniać?"  
all: "Wszyscy"  
nobody: "Nikt"  
who_can_write_comments: "Kto może komentować?"  
post_content_contains: "Zawartość posta zawiera"  
nothing_like_that: "Nic takiego"  
spoilers: "Spoilery"  
heading: "Nagłówek"  
go_ahead_put_smth: "Śmiało, napisz coś."  
something_somebody_else_said_here: "Coś, co ktoś inny tu powiedział."  
frog_croak_croak: "Żaba: kum, kum..."  
close: "Zamknij"  
publish: "Opublikuj"  
upload_image: "Prześlij zdjęcie"  
following_tab: "Obserwowani"  
delete_this_post: "Usunąć ten post?"  
no: "Nie"  
yes: "Tak"  
cancel: "Anuluj"  
delete: "Usuń"  
cannot_use_user_post_id: "Nie można użyć tego ID posta użytkownika!"  
profile_settings: "Ustawienia profilu"  
posts: "Posty"  
need_to_verify_email: "Musisz potwierdzić e-mail, aby kontynuować."  
error_small_password: "Hasło musi mieć więcej niż 8 znaków!"  
spoilers_warning_post: "Ten post może zawierać spoilery"  
customize: "Dostosuj"  
save: "Zapisz"  
add_biography: "Dodaj biografię"  
no_biography: "Brak biografii"  
likes_about_conf_settings: "Wszyscy zobaczą, które posty polubiłeś"  
following_about_conf_settings: "Wszyscy zobaczą listę użytkowników, których obserwujesz"  
private_profile: "Prywatny profil"  
private_profile_about_conf_settings: "Twój profil będzie widoczny tylko dla użytkowników, których zaakceptujesz"  
visibility: "Widoczność"  
visibility_about_conf_setting: "Twój profil będzie widoczny tylko dla zarejestrowanych użytkowników"  
write_your_comment: "Napisz swój komentarz"  
account_settings: "Ustawienia konta"  
about_settings_account: "Podstawowe dane"  
about_settings_profile: "Prywatność, dane publiczne, zdjęcia profilowe"  
profile: "Profil"  
dashboard: "Panel"  
about_settings_dashboard: "Dostosuj interfejs panelu i tablicę"  
delete_profile: "Usuń konto"  
about_settings_delete_profile: "Usuń wszystkie dane profilu bez możliwości odzyskania"  
dashboard_settings: "Ustawienia panelu i tablicy"  
accent_color_settings: "Kolor akcentu"  
background_color_settings: "Kolor tła"  
background_url_settings: "URL obrazu tła"  
urlid_symbols_error: "W ID posta dozwolone są tylko litery łacińskie i cyfry!"  
login_error_banned_user: "Twoje konto zostało zablokowane za naruszenie zasad Zhabbler. Powód: "  
its_so_empty_here: "Tak tu pusto!"  
delete_this_comment: "Usunąć ten komentarz?"  
january: "Styczeń"  
february: "Luty"  
march: "Marzec"  
april: "Kwiecień"  
may: "Maj"  
june: "Czerwiec"  
july: "Lipiec"  
august: "Sierpień"  
september: "Wrzesień"  
october: "Październik"  
november: "Listopad"  
december: "Grudzień"  
profile_no_posts: "Ten użytkownik jeszcze nic nie opublikował."  
add_people_home_page: "Zacznij obserwować innych, aby strona nie była pusta."  
followed_no_posts: "Nikt z twoich obserwowanych nie opublikował posta."  
enter_nickname: "Wpisz pseudonim"  
to_messages: "Wróć do wiadomości"  
messages_warning: "Nikt do ciebie nie napisał. Napisz do kogoś."  
start_entering_a_query: "Zacznij wpisywać zapytanie."  
nothing_found: "Nic nie znaleziono, sprawdź zapytanie."  
you_have_unread_msgs: "Masz nieprzeczytane wiadomości od "  
message: "Wiadomość"  
failed_to_connect_msgs: "Nie można połączyć się z serwerem wiadomości. Spróbuj później."  
connecting_to_msgs: "Łączenie z serwerem wiadomości..."  
navbar_settings: "Styl paska nawigacji"  
reposted: "udostępniono ponownie"  
inbox_empty: "Twoja skrzynka odbiorcza jest pusta."  
view_post: "Zobacz post"  
r_u_sure_to_report: "Czy na pewno chcesz zgłosić tego użytkownika?"  
report_info: "Blokujemy tylko użytkowników łamiących <a href='/help/rules'>zasady Zhabbler</a>."  
err_photo_post: "Poczekaj na przesłanie zdjęcia."  
load_more: "Załaduj więcej"  
register_closed_info: "Rejestracja jest obecnie zamknięta.<br>Poproś administratora o założenie konta."  
profiles: "Profile"  
often_searched: "Często wyszukiwane"  
current_password: "Obecne hasło"  
new_password: "Nowe hasło"  
sessions: "Sesje"  
logout_from_all_sessions: "Wyloguj się ze wszystkich sesji"  
failed_change_email: "Nie udało się zmienić adresu e-mail"  
show_hide_sessions: "Pokaż/ukryj sesje"  
added_comment_to_ur_post: "Dodał komentarz do twojego posta"  
activity_warning: "Brak aktywności..."  
reposted_ur_post: "Udostępnił twój post"  
failed_to_copy: "Nie udało się skopiować linku"  
successfly_copied: "Link do posta został skopiowany. Wklej go w dowolnej sieci społecznościowej."  
user_no_following: "Ten użytkownik nikogo nie obserwuje."  
followers: "obserwujący"  
your_liked_posts_cannot_see: "Tylko ty widzisz listę polubionych postów."  
your_followings_cannot_see: "Tylko ty widzisz listę obserwowanych."  
ban: "Zablokuj"  
reply: "Odpowiedz"  
mentioned_u: "Wspomniał o tobie w komentarzach"  
questions: "Pytania"  
questions_about_conf_settings: "Pozwól innym zadawać ci pytania (mogą być anonimowe)"  
ask_me_a_question: "Zadaj mi pytanie"  
do_not_disturb: "Nie przeszkadzać"  
do_not_disturb_about_conf_settings: "Nie otwieraj czatu z użytkownikiem, który wysłał ci nową wiadomość"  
ask_anonymously: "Zapytaj anonimowo"  
ask: "Zapytaj"  
anonymous: "Anonimowy"  
successfully_asked: "Pomyślnie zadałeś pytanie"  
asked: "zapytał"  
answer: "Odpowiedz"  
connection_to_msgs_down: "Brak połączenia z serwerem."  
err_video_post: "Poczekaj na przesłanie wideo."  
video: "Wideo"  
photo_loader_error: "Poczekaj na przesłanie zdjęcia."  
upload_video: "Prześlij wideo"  
policy_privacy: "Polityka prywatności"  
your_tags: "Twoje tagi"  
search_tags: "Szukaj tagów"  
add_tags: "Dodaj tagi"  
adding_tag_tip: "Kliknij tag, aby go dodać"  
done: "Gotowe"  
add_tags_to_help_people_find_your_post: "dodaj tagi, aby ułatwić znalezienie twojego posta"  
tags_warning_post_heading: "Opublikować bez tagów?"  
tags_warning_post: "Dodanie tagów pomoże innym znaleźć twój post."  
tags_u_followed: "Tagi, które obserwujesz"  
show_more: "Pokaż więcej"  
email_top_warn: "Ostrzeżenie! Potwierdź swój e-mail, klikając link, który wysłaliśmy, w przeciwnym razie konto zostanie usunięte."  
you_needed_to_activate_account: "Musisz aktywować konto."  
connecting: "Łączenie..."  
loading: "Ładowanie..."  
sending: "Wysyłanie..."  
new_msg_notify: " napisał ci nową wiadomość!"  
do_u_want_to_delete_message: "Usunąć wiadomość?"  
recent: "Ostatnie"  
tags: "Tagi"  
go_to: "Idź do:"  
forgot_password: "Zapomniałeś hasła?"  
back: "Wróć"  
continue: "Kontynuuj"  
reset_password: "Zresetuj hasło"  
password_reset_email_sent: "Jeśli masz konto na Zhabbler, otrzymasz e-mail z linkiem do resetowania hasła."  
repeat_password: "Powtórz hasło"  
passwords_doesnt_match: "Hasła nie pasują do siebie."  
email_code_error: "Błąd. Spróbuj później."  
color_pallete: "Paleta kolorów"  
true_green: "Czysta zieleń"  
ghost: "Duch"  
dark: "Ciemny"  
popular_today: "Popularne dziś"  
need_to_login: "Musisz się zalogować."  
photo_limit: "Ostrzeżenie: Możesz przesłać tylko 15 zdjęć."  
video_limit: "Ostrzeżenie: Możesz przesłać tylko 10 filmów."  
posted_to: "Opublikowano w"  
post_deleted: "Post usunięty"  
view_profile: "Zobacz profil"  
user_not_found: "Użytkownik nie znaleziony"  
user_banned: "Użytkownik zbanowany"  
user_not_found_info: "Użytkownik nie istnieje lub został usunięty."  
user_banned_info: "Użytkownik został zbanowany za naruszenie zasad Zhabbler."  
accent: "Akcent"  
background: "Tło"  
posted_by: "Opublikowane przez"  
new_post: "Nowy post"  
go_to_tag: "Przejdź do tagu"  
mentions: "Wzmianki"  
reposts: "Udostępnienia"  
everyone: "Wszyscy"  
new_message: "Nowa wiadomość"  
donate: "Wesprzyj"  
who_can_write_messages_to_me: "Kto może mi pisać?"  
mutually_followed_to_only_message: "Tylko wzajemnie obserwowani"  
new_messages_disabled: "Wiadomości wyłączone"  
add_images_from_web: "Dodaj obraz z internetu"  
enter_or_paste_url: "Wpisz lub wklej URL"  
url_image_error: "Błąd z URL obrazu."  
failed_to_upload_image: "Nie udało się przesłać obrazu."  
edit: "Edytuj"  
we_hope_it_was_u: "Mamy nadzieję, że to byłeś ty."  
new_login_info: "Ktoś właśnie zalogował się na twoje konto. Jeśli to nie ty, natychmiast zmień hasło w ustawieniach."  
audio: "Audio"  
upload_audio: "Prześlij audio"  
audio_limit: "Ostrzeżenie: Możesz przesłać tylko 10 plików audio."  
add_audio_from_web: "Dodaj audio z internetu"  
add_videos_from_web: "Dodaj wideo z internetu"  
unsupported_link: "Nie obsługujemy mediów z tej strony"  
audio_name: "Tytuł audio"  
err_audio_post: "Poczekaj na przesłanie audio."  
classic: "Klasyczny"  
save_as_draft: "Zapisz jako szkic"  
followers_section: "Obserwujący"  
drafts: "Szkice"  
empty_post_content: "Nie można zapisać szkicu. Post jest pusty."  
sucessfully_saved_draft: "Szkic zapisany pomyślnie"  
delete_draft: "Usunąć szkic?"  
draft_deleted: "Szkic usunięty pomyślnie"  
following_you: "obserwuje cię"  
about_zhabbler_1: "Zhabbler jest tak prosty, że trudno to wytłumaczyć."  
about_zhabbler_1_info: "Stworzyliśmy go bardzo, bardzo prostym, aby ludzie mogli założyć bloga i publikować, co chcą. Historie, zdjęcia, GIFy, seriale, linki, cytaty, głupie żarty, mądre żarty, utwory z SoundCloud, mp3, filmy, moda, sztuka, głębokie przemyślenia. Zhabbler to mnóstwo różnych blogów wypełnionych dosłownie wszystkim."  
about_zhabbler_2: "Zhabbler to blogi."  
about_zhabbler_2_info: "Okazuje się, że gdy ułatwiasz tworzenie ciekawych rzeczy, ludzie właśnie to robią. Wszystkie te świetne, przypadkowe blogi, które przesyłają ci znajomi, to blogi na Zhabbler. Pomagamy ci je znaleźć i obserwować oraz pomagamy innym znaleźć twój blog."  
about_zhabbler_3: "Już wiesz, jak to działa."  
about_zhabbler_3_info: "Jeśli obserwujesz blog, wszystkie jego posty pojawiają się na twojej tablicy. Widzisz coś ciekawego? Udostępnij to. Komentuj, jeśli chcesz. Dostosuj to. Inni zrobią to samo z twoimi postami. Tak poznajesz ludzi."  
about_zhabbler_4: "Poważnie, dodawaj do posta, co chcesz."  
about_zhabbler_4_info: "Sześć typów postów na początek. Resztę zrobi twój mózg. To twoje. Używaj tego, jak chcesz."  