explore: "Обзор"
account: "Учётная запись"
zhabbler: "жабблер"
popular: "Популярное"
follow: "Читать"
liked: "нравится"
share: "Поделиться"
responds: "Ответы"
repost: "Репост"
like: "Нравится"
copy_url_post: "Скопировать URL на пост"
unfollow: "Не читать"
report: "Пожаловаться"
block: "Заблокировать"
check_out_these_profile: "Посмотрите эти профили"
todays_popular: "Сегодня популярно"
search_zhabbler: "Поиск в Жабблере"
welcome_to_zhabbler_login_text: 'Добро пожаловать в '
login_text_promo: "Тебе не будет скучно! Заводи друзей, пиши и смотри посты людей."
register: "Регистрация"
login: "Войти"
what_is_zhabbler: "Что такое Жабблер?"
rules: "Правила"
privacy: "Приватность"
email: "Адрес электронной почты"
password: "Пароль"
first_time_in_zhabbler: "Первый раз в Жабблере?"
have_you_been_here_before: "Вы здесь не впервые?"
name: "Имя"
something_went_wrong: "Что-то пошло не так! Повторите попытку позже."
nickname: "Никнейм"
some_fields_are_empty: "Некоторые поля для ввода пусты!"
error_big_name: "Имя не должно превышать 48 символов!"
error_big_nickname: "Никнейм меньше 3 символов или больше 20 символов!"
error_with_email: "Проверьте свой адрес электронной почты!"
error_nickname_is_used: "Данный никнейм уже использован другим пользователем!"
error_email_is_used: "Данная почта уже используется другим пользователем!"
error_nickname_symbols: "В никнейме допустимо только латинские символы и числа!"
home: "Главная"
activity: "Активность"
messages: "Сообщения"
inbox: "Входящие"
settings: "Настройки"
write: "Написать"
likes: "Понравилось"
following: "Читаю"
logout: "Выйти"
user_does_not_exists: "Пользователя с таким адресом электронной почты не существует!"
incorrect_password: "Неверный пароль!"
text: "Текст"
photo: "Фото"
quote: "Цитата"
dialog: "Диалог"
bold: "Жирный"
italic: "Курсив"
underline: "Подчёркнутый"
add_url_link: "Добавить URL ссылку"
remove_url_link: "Убрать URL ссылку"
text_color: "Цвет текста"
custom_post_id: "Пользовательский ID поста"
who_can_do_reposts: "Кто может делать репосты?"
all: "Все"
nobody: "Никто"
who_can_write_comments: "Кто может писать комментарии?"
post_content_contains: "Пост содержит"
nothing_like_that: "Ничего подобного"
spoilers: "Спойлеры"
heading: "Заголовок"
go_ahead_put_smth: "Вперёд, добавьте что-нибудь"
something_somebody_else_said_here: "Что-то, что сказал другой."
frog_croak_croak: "Жаба: ква, ква, ква..."
close: "Закрыть"
publish: "Опубликовать"
upload_image: "Выложить изображение"
following_tab: "Подписки"
delete_this_post: "Удалить этот пост?"
no: "Нет"
yes: "Да"
cancel: "Отмена"
delete: "Удалить"
cannot_use_user_post_id: "Этот пользовательский ID уже используется другим постом!"
profile_settings: "Настройки профиля"
posts: "Посты"
need_to_verify_email: "Мы отправили вам письмо на ваш email. Перейдите по той ссылке которую мы вам отправили в письме для продолжения."
error_small_password: "Пароль должен быть больше 8-ми символов!"
spoilers_warning_post: "Данный пост может содержать спойлеры"
customize: "Изменить оформление"
save: "Сохранить"
add_biography: "Добавить биографию"
no_biography: "Биография пуста"
likes_about_conf_settings: "Предоставить общий доступ к постам, которые вам нравятся"
following_about_conf_settings: "Предоставить общий доступ к списку пользователей, которых вы читаете"
private_profile: "Закрытый профиль"
private_profile_about_conf_settings: "Ваш профиль будет виден тем пользователям, которым вы одобрили заявку в подписки"
visibility: "Видимость"
visibility_about_conf_setting: "Ваш профиль будет виден только зарегистрированным пользователям"
write_your_comment: "Напишите ваш комментарий"
account_settings: "Настройки учётной записи"
about_settings_account: "Основные данные"
about_settings_profile: "Приватность, публичные данные, изображения профиля"
profile: "Профиль"
dashboard: "Лента"
about_settings_dashboard: "Кастомизация интерфейса и настройка ленты новостей"
delete_profile: "Удалить учётную запись"
about_settings_delete_profile: "Удалить все данные профиля без возможности восстановления"
dashboard_settings: "Настройки ленты новостей и интерфейса"
accent_color_settings: "Цвет акцента"
background_color_settings: "Цвет фона"
background_url_settings: "URL изображения для фона"
urlid_symbols_error: "В пользователськом ID разрешено использовать только латнские буквы и цифры!"
login_error_banned_user: "Ваш профиль был заблокирован за нарушение правил Жабблера. Причина - "
its_so_empty_here: "Здесь так пусто!"
delete_this_comment: "Удалить этот комментарий?"
january: "января"
february: "февраля"
march: "марта"
april: "апреля"
may: "мая"
june: "июня"
july: "июля"
august: "августа"
september: "сентября"
october: "октября"
november: "ноября"
december: "декабря"
profile_no_posts: "Данный пользователь пока что не выкладывал постов."
add_people_home_page: "Начните читать других пользователей чтобы страница не была пустой."
followed_no_posts: "Из ваших подписок никто не писал пост."
enter_nickname: "Введите никнейм"
to_messages: "К сообщениям"
messages_warning: "Вам никто не писал. Напишите кому-нибудь."
start_entering_a_query: "Начните вводить запрос"
nothing_found: "Ничего не было найдено, проверьте свой запрос."
you_have_unread_msgs: "У вас есть непрочитанные сообщения от "
message: "Сообщение"
failed_to_connect_msgs: "Не удалось подключиться к серверу сообщений."
connecting_to_msgs: "Подключение к серверу сообщений..."
navbar_settings: "Стиль навбара"
reposted: "репостнул(-а)"
inbox_empty: "Ваши входящие пусты."
view_post: "Посмотреть пост"
r_u_sure_to_report: "Хотите пожаловаться на этого пользователя?"
report_info: "Мы блокируем только тех пользователей, которые нарушают <a href='/help/rules'>правила Жабблера</a>."
err_photo_post: "Пожалуйста, подождите пока изображение загрузиться."
err_video_post: "Пожалуйста, подождите пока видео загрузиться."
load_more: "Загрузить больше"
register_closed_info: "Регистрация на данный момент закрыта.<br>Попросите администратора зарегистрировать вас."
profiles: "Профили"
often_searched: "Часто ищут"
current_password: "Текущий пароль"
new_password: "Новый пароль"
sessions: "Сессии"
logout_from_all_sessions: "Выйти из всех сессий"
failed_change_email: "Не удалось сменить адрес электронной почты"
show_hide_sessions: "Показать/скрыть все сессии"
added_comment_to_ur_post: "Добавил комментарий к вашему посту"
activity_warning: "Активности пока что нет..."
reposted_ur_post: "Репостнул(-а) ваш пост"
failed_to_copy: "Не удалось скопировать ссылку"
successfly_copied: "Ссылка на пост успешно скопирована. Вставьте её в любую социальную сеть."
user_no_following: "Данный пользователь никого не читает."
followers: "читают"
your_liked_posts_cannot_see: "Список понравившихся постов видите только вы."
your_followings_cannot_see: "Список пользователей которых вы читаете видите только вы."
ban: "Забанить"
reply: "Ответить"
mentioned_u: "Отметил(-а) вас в комментариях"
questions: "Вопросы"
questions_about_conf_settings: "Позволить задавать другим пользователям вам вопросы (вопросы могут быть анонимными)"
ask_me_a_question: "Задать вопрос"
do_not_disturb: "Не беспокоить"
do_not_disturb_about_conf_settings: "Не открывать переписку с пользователем который вам написал новое сообщение"
ask_anonymously: "Задать вопрос анонимно"
ask: "Задать вопрос"
anonymous: "Аноним"
successfully_asked: "Вы успешно задали вопрос пользователю"
asked: "спросил(-а)"
answer: "Ответить"
connection_to_msgs_down: "Подключение к серверу разорвано."
video: "Видео"
photo_loader_error: "Пожалуйста, подождите пока последнее изображение прогрузиться."
upload_video: "Выложить видео"
policy_privacy: "Политика конфиденциальности"
your_tags: "Ваши теги"
search_tags: "Поиск по тегам"
add_tags: "Добавить теги"
adding_tag_tip: "Нажмите на тег чтобы его добавить"
done: "Готово"
add_tags_to_help_people_find_your_post: "добавить теги для поиска"
tags_warning_post_heading: "Опубликовать без тегов?"
tags_warning_post: "Добавление тегов поможет людям найти ваш пост."
tags_u_followed: "Теги на которые вы подписаны"
show_more: "Показать больше"
email_top_warn: "Внимание! Подтвердите свой электронный адрес, нажав ссылку, которую мы вам отправили, иначе ваша учётная запись будет удалена."
you_need_to_activate_account: "Вам необходимо активировать свою учётную запись."
connecting: "Соединение..."
loading: "Загрузка..."
sending: "Отправка..."
new_msg_notify: " написал вам новое сообщение!"
do_u_want_to_delete_message: "Удалить сообщение?"
recent: "Последние"
tags: "Теги"
go_to: "Перейти к:"
forgot_password: "Забыли пароль?"
back: "Назад"
continue: "Продолжить"
reset_password: "Сбросить пароль"
password_reset_email_sent: "Если ваш аккаунт имеется в Жабблере, то на вашу электронную почту придёт письмо с ссылкой для восстановления пароля."
repeat_password: "Повторите пароль"
passwords_doesnt_match: "Пароли не совпадают."
email_code_error: "Не удалось выполнить действие. Повторите попытку позже."