explore: "Огляд"
account: "Обліковий запис"
zhabbler: "жабблер"
popular: "Популярне"
follow: "Читати"
liked: "сподобалося"
share: "Поділитися"
responds: "Відповіді"
repost: "Репост"
like: "Подобається"
copy_url_post: "Копіювати URL на пост"
unfollow: "Не читати"
report: "Поскаржитись"
block: "Заблокувати"
check_out_these_profile: "Подивіться ці профілі"
todays_popular: "Сьогодні популярно"
search_zhabbler: "Пошук у Жабблері"
welcome_to_zhabbler_login_text: 'Ласкаво просимо в '
login_text_promo: "Тут вам не буде нудно! Заводьте друзів, пишіть і дивіться пости."
register: "Реєстрація"
login: "Увійти"
what_is_zhabbler: "Що таке Жабблер?"
rules: "Правила"
privacy: "Приватність"
email: "Адреса електронної пошти"
password: "Пароль"
first_time_in_zhabbler: "Перший раз у Жабблері?"
have_you_been_here_before: "Ви тут не вперше?"
name: "Ім'я"
something_went_wrong: "Щось пішло не так! Повторіть спробу пізніше."
nickname: "Нікнейм"
some_fields_are_empty: "Деякі поля для введення порожні!"
error_big_name: "Ім'я не повинно перевищувати 48 символів!"
error_big_nickname: "Нікнейм менше 3 символів або більше 20 символів!"
error_with_email: "Перевірте свою адресу електронної пошти!"
error_nickname_is_used: "Цей нікнейм уже використано іншим користувачем!"
error_email_is_used: "Ця пошта вже використовується іншим користувачем!"
error_nickname_symbols: "У нікнеймі допустимо тільки латинські символи і числа!"
home: "Головна"
activity: "Активність"
messages: "Повідомлення"
inbox: "Вхідні"
settings: "Налаштування"
write: "Написати"
likes: "Сподобалося"
following: "Читаю"
logout: "Вийти"
user_does_not_exists: "Користувача з такою адресою електронної пошти не існує!"
incorrect_password: "Невірний пароль!"
text: "Текст"
photo: "Фото"
quote: "Цитата"
dialog: "Діалог"
bold: "Жирний"
italic: "Курсив"
underline: "Підкреслений"
add_url_link: "Додати URL посилання"
remove_url_link: "Прибрати URL посилання"
text_color: "Колір тексту"
custom_post_id: "Призначений для користувача ID поста"
who_can_do_reposts: "Хто може робити репости?"
all: "Усі"
nobody: "Ніхто"
who_can_write_comments: "Хто може писати коментарі?"
post_content_contains: "Пост містить"
nothing_like_that: "Нічого подібного"
spoilers: "Спойлери"
heading: "Заголовок"
go_ahead_put_smth: "Вперед, додайте що-небудь"
something_somebody_else_said_here: "Щось, що сказав інший."
frog_croak_croak: "Жаба: ква, ква, ква..."
close: "Закрити"
publish: "Опублікувати"
upload_image: "Викласти зображення"
following_tab: "Підписки"
delete_this_post: "Видалити цей пост?"
no: "Ні"
yes: "Так"
cancel: "Скасування"
delete: "Видалити"
cannot_use_user_post_id: "Цей користувацький ID вже використовується іншим постом!"
profile_settings: "Налаштування профілю"
posts: "Пости"
need_to_verify_email: "Ми відправили вам лист на ваш email. Перейдіть за тим посиланням, яке ми вам відправили в листі, для продовження."
error_small_password: "Пароль повинен бути більше 8-ми символів!"
spoilers_warning_post: "Цей пост може містити спойлери"
customize: "Змінити оформлення"
save: "Зберегти"
add_biography: "Додати біографію"
no_biography: "Біографія порожня"
likes_about_conf_settings: "Надати загальний доступ до постів, які вам подобаються"
following_about_conf_settings: "Надати загальний доступ до списку користувачів, яких ви читаєте"
private_profile: "Закритий профіль"
private_profile_about_conf_settings: "Ваш профіль буде видно тим користувачам, яким ви схвалили заявку в підписки"
visibility: "Видимість"
visibility_about_conf_setting: "Ваш профіль буде видно тільки зареєстрованим користувачам"
write_your_comment: "Напишіть ваш коментар"
account_settings: "Налаштування облікового запису"
about_settings_account: "Основні дані"
about_settings_profile: "Приватність, публічні дані, зображення профілю"
profile: "Профіль"
dashboard: "Стрічка"
about_settings_dashboard: "Кастомізація інтерфейсу і налаштування стрічки новин"
delete_profile: "Видалити обліковий запис"
about_settings_delete_profile: "Видалити всі дані профілю без можливості відновлення"
dashboard_settings: "Налаштування стрічки новин та інтерфейсу"
accent_color_settings: "Колір акценту"
background_color_settings: "Колір фону"
background_url_settings: "URL зображення для фону"
urlid_symbols_error: "У користувацькому ID дозволено використовувати тільки латинські букви і цифри!"
login_error_banned_user: "Ваш профіль було заблоковано за порушення правил Жабблера. Причина - "
its_so_empty_here: "Тут так порожньо!"
january: "січня"
february: "лютого"
march: "березня"
april: "квітня"
may: "травня"
june: "червня"
july: "липня"
august: "серпня"
september: "вересня"
october: "жовтня"
november: "листопада"
december: "грудня"
profile_no_posts: "Цей користувач поки що не викладав постів."
add_people_home_page: "Почніть читати інших користувачів, щоб сторінка не була порожньою."
followed_no_posts: "З ваших підписок ніхто не писав пост."
enter_nickname: "Введіть нікнейм"
to_messages: "До повідомлень"
messages_warning: "Вам ніхто не писав. Напишіть кому-небудь."
start_entering_a_query: "Почніть вводити запит"
nothing_found: "Нічого не було знайдено, перевірте свій запит."
you_have_unread_msgs: "У вас є непрочитані повідомлення від "
message: "Повідомлення"
failed_to_connect_msgs: "Не вдалося підключиться до сервера повідомлень. Спробуйте спробу пізніше."
connecting_to_msgs: "Підключення до сервера повідомлень..."
navbar_settings: "Стиль навігаційного бару"
reposted: "користувач репостнув"
delete_this_comment: "Видалити цей коментар?"
inbox_empty: "Ваші вхідні порожні."
view_post: "Відкрити пост"
r_u_sure_to_report: "Хочете поскаржитися на цього користувача?"
report_info: "Ми блокуємо тільки тих користувачів, які порушують <a href='/help/rules'>правила Жабблера</a>."
err_photo_post: "Будь ласка, зачекайте поки зображення завантажиться."
load_more: "Завантажити більше"
register_closed_info: "Реєстрацію наразі закрито.<br>Попросіть адміністратора зареєструвати вас."
profiles: "Профілі"
often_searched: "Часто шукають"
current_password: "Поточний пароль"
new_password: "Новий пароль"
sessions: "Сесії"
logout_from_all_sessions: "Вийти з усіх сесій"
failed_change_email: "Не вдалося змінити адресу електронної пошти"
show_hide_sessions: "Показати/приховати всі сесії"
added_comment_to_ur_post: "Додав коментар до вашого посту"
activity_warning: "Активності поки що немає..."
reposted_ur_post: "Репостнув(-а) ваш пост"
failed_to_copy: "Не вдалося скопіювати посилання"
successfly_copied: "Посилання на пост успішно скопійовано. Вставте його в будь-яку соціальну мережу."
user_no_following: "Цей користувач нікого не читає."
followers: "читають"
your_liked_posts_cannot_see: "Список вподобаних постів бачите тільки ви."
your_followings_cannot_see: "Список користувачів яких ви читаєте бачите тільки ви."
ban: "Забанити"
reply: "Відповісти"
mentioned_u: "Відзначив(-а) вас у коментарях"
questions: "Питання"
questions_about_conf_settings: "Дозволити ставити іншим користувачам вам запитання (запитання можуть бути анонімними)"
ask_me_a_question: "Поставити запитання"
do_not_disturb: "Не турбувати"
do_not_disturb_about_conf_settings: "Не відкривати листування з користувачем, який вам написав нове повідомлення"
ask_anonymously: "Поставити запитання анонімно"
ask: "Поставити запитання"
anonymous: "Анонім"
successfully_asked: "Ви успішно поставили запитання користувачеві"
asked: "запитав(-а)"
answer: "Відповісти"
connection_to_msgs_down: "Підключення до сервера розірвано."
err_video_post: "Будь ласка, зачекайте, поки відео завантажиться."
video: "Відео"
photo_loader_error: "Зачекайте, поки останнє зображення провантажиться."
upload_video: "Викласти відео"