<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="shortcut icon" href="/static/images/icon.png" type="image/png">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Жабблер</title>
</head>
<body>
    <div id="app">
        <div class="popup popup_do_not_close" id="JS_Loader">
            <div class="loader loader_cpa"><div class="loader_part loader_part_1"></div><div class="loader_part loader_part_2"></div><div class="loader_part loader_part_3"></div></div>
        </div>
        {include 'includes/navbar_top.latte'}
        <div class="container">
            {include 'includes/navbar.latte'}
            <main class="main">
                <div class="tabs">
                    <a href="/dashboard" class="tab tab_active">
                        <span>
                            {$language['following_tab']}
                        </span>
                    </a>
                    <a href="/dashboard/popular" class="tab">
                        <span>
                            {$language['popular']}
                        </span>
                    </a>
                    <a href="/dashboard/explore" class="tab">
                        <span>
                            {$language['explore']}
                        </span>
                    </a>
                </div>
                <div>
                    {include '../etc/post_usr_interact.latte'}
                    {if !(new Web\Models\Follow())->check_follows_existence($user->token) && (new Web\Models\Posts())->get_posts_by_followings_count($user->token) == 0}
                    <div class="no_follows">
                        <div class="no_follows_inner">
                            <div><i class='bx bxs-group'></i></div>
                            <div>
                                <span>{$language['add_people_home_page']}</span>
                            </div>
                        </div>
                    </div>
                    {elseif (new Web\Models\Posts())->get_posts_by_followings_count($user->token) == 0}
                    <div class="no_follows">
                        <div class="no_follows_inner">
                            <div><i class='bx bxs-comment-x'></i></div>
                            <div>
                                <span>{$language['followed_no_posts']}</span>
                            </div>
                        </div>
                    </div>
                    {else}
                    <div id="DashboardPosts">
                        <div class="loader">
                            <div class="loader_part loader_part_1"></div>
                            <div class="loader_part loader_part_2"></div>
                            <div class="loader_part loader_part_3"></div>
                        </div>
                    </div>
                    {/if}
                </div>
            </main>
            {include 'includes/nav_options.latte'}
        </div>
        <preloader src="/static/js/dashboard.js"></preloader>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js" integrity="sha512-57oZ/vW8ANMjR/KQ6Be9v/+/h6bq9/l3f0Oc7vn6qMqyhvPd1cvKBRWWpzu0QoneImqr2SkmO4MSqU+RpHom3Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/static/js/main.js"></script>
</body>
</html>