<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="shortcut icon" href="/static/images/icon.png" type="image/png">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Жабблер</title>
</head>
<body>
    <div id="app">
        <div class="popup popup_do_not_close" id="JS_Loader">
            <div class="loader loader_cpa"><div class="loader_part loader_part_1"></div><div class="loader_part loader_part_2"></div><div class="loader_part loader_part_3"></div></div>
        </div>
        {include 'includes/navbar_top.latte'}
        <div class="container">
            {include 'includes/navbar.latte'}
            <main class="main">
                {if count($msgs) == 0}
                <div class="inbox_msg inbox_msg_empty_here">
                    <div>
                        <div>
                            <i class='bx bxs-file-blank'></i>
                        </div>
                        <div>
                            <span>
                                {$language['inbox_empty']}
                            </span>
                        </div>
                    </div>
                </div>
                {else}
                {foreach $msgs as $msg}
                {if !isset($msg->banned)}
                <div class="post">
                    <div class="postAuthor">
                        <a href="{($msg->inboxBy != 0 ? '/profile/'.$msg->nickname : '#')}" class="postAuthorProfileImage">
                            <img src="{$msg->profileImage}" alt="Изображение">
                        </a>
                        <a href="{($msg->inboxBy != 0 ? '/profile/'.$msg->nickname : '#')}" class="postAuthorPointsToAuthor">
                            {$msg->nickname}
                        </a>
                        {if $msg->verifed == 1}<i class='bx bxs-badge-check verifed_icon'></i>{/if}
                    </div>
                    {if isset($msg->question)}
                    <div class="postQuestion">
                        <div class="postQuestionItself">
                            <div class="postQuestionItselfAuthor">
                                <span>
                                    {$msg->nickname} {$language['asked']}
                                </span>
                            </div>
                            <div>
                                <span>
                                    {$msg->question|noescape}
                                </span>
                            </div>
                        </div>
                        <div class="postQuestionProfilePicture">
                            <img src="{$msg->profileImage}">
                        </div>
                    </div>
                    {else}
                    <div class="postContent" id="realPostContent">
                        {$msg->inboxMessage|noescape}
                    </div>
                    {/if}
                    {if isset($msg->question)}
                    <div class="postActions" style="border-top: 1px solid #eee;padding-top:10px;">
                        <button class="button" style="margin-left:auto;" onclick="zhabbler.answer({$msg->questionID})">
                            {$language['answer']}
                        </button>
                    </div>
                    {/if}
                </div>
                {/if}
                {/foreach}
                {/if}
            </main>
            {include 'includes/nav_options.latte'}
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js" integrity="sha512-57oZ/vW8ANMjR/KQ6Be9v/+/h6bq9/l3f0Oc7vn6qMqyhvPd1cvKBRWWpzu0QoneImqr2SkmO4MSqU+RpHom3Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/static/js/main.js"></script>
</body>
</html>