<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/playerrefresh/zhabblerrplayer.css">
    <link rel="stylesheet" href="/static/audioplayer/css/audioplayer.css">
    <link rel="shortcut icon" href="/static/images/icon.png" type="image/png">
    <link rel="stylesheet" href="/static/node_modules/boxicons/css/boxicons.min.css">
    <link rel="manifest" href="/manifest.json" />
    <link rel="apple-touch-icon" href="/static/images/icons/icon-512x512.png" />
    <meta name="apple-mobile-web-app-status-bar" content="#13b522" />
    <meta name="theme-color" content="#13b522" />
    <title>Жабблер</title>
</head>
<body>
    <div id="app">
        <div class="popup popup_do_not_close" id="JS_Loader">
            <div class="loader loader_cpa"><div class="loader_part loader_part_1"></div><div class="loader_part loader_part_2"></div><div class="loader_part loader_part_3"></div></div>
        </div>
        {include 'includes/navbar_top.latte'}
        <div class="container">
            {include 'includes/navbar.latte'}
            <main class="main">
                {if isset($_GET['show_tabs'])}
                <div class="tabs only_mobile_flex">
                    <a class="tab tab_active" href="/inbox?show_tabs">
                        {$language['inbox']}
                        {if (new Web\Models\Inbox())->getUnreadCountOfMsgs($user->token) > 0}
                            ({(new Web\Models\Inbox())->getUnreadCountOfMsgs($user->token)})
                        {/if}
                    </a>
                    <a class="tab" href="/messages?show_tabs">
                        {$language['messages']}
                        {if (new Web\Models\Messages())->get_count_of_unread_messages($user->token) > 0}
                            ({(new Web\Models\Messages())->get_count_of_unread_messages($user->token)})
                        {/if}
                    </a>
                </div>
                {/if}
                {if count($msgs) == 0}
                <div class="msg_sys_srv msg_sys_srv_empty_here">
                    <div>
                        <div>
                            <i class='bx bxs-file-blank'></i>
                        </div>
                        <div>
                            <span>
                                {$language['inbox_empty']}
                            </span>
                        </div>
                    </div>
                </div>
                {else}
                {foreach $msgs as $msg}
                {if !isset($msg->banned)}
                <div class="post" id="postInbox{$msg->inboxID}">
                    <div class="postAuthor">
                        <a href="{($msg->inboxBy != 0 ? '/profile/'.$msg->nickname : '#')}" class="postAuthorProfileImage">
                            <img src="{$msg->profileImage}/w32-compressed.jpeg" alt="Image">
                        </a>
                        <a href="{($msg->inboxBy != 0 ? '/profile/'.$msg->nickname : '#')}" class="postAuthorPointsToAuthor">
                            {$msg->nickname}
                        </a>
                        {if $msg->verifed == 1}<i class='bx bxs-badge-check verifed_icon'></i>{/if}
                    </div>
                    {if isset($msg->question)}
                    <div class="postQuestion">
                        <div class="postQuestionItself">
                            <div class="postQuestionItselfAuthor">
                                <span>
                                    {$msg->nickname} {$language['asked']}
                                </span>
                            </div>
                            <div>
                                <span>
                                    {nl2br($msg->question)|noescape}
                                </span>
                            </div>
                        </div>
                        <div class="postQuestionProfilePicture">
                            <img src="{$msg->profileImage}">
                        </div>
                    </div>
                    {else}
                    <div class="postContent" id="realPostContent">
                        {$msg->inboxMessage|noescape}
                    </div>
                    {/if}
                    {if isset($msg->question)}
                    <div class="postActions" style="padding-top:10px;">
                        <div class="pAinBsIcBtn" onclick="zhabbler.deleteInboxMessage({$msg->inboxID}, true);">
                            <i class='bx bx-trash'></i>
                        </div>
                        <button class="button" style="margin-left:auto;" onclick="zhabbler.answer({$msg->questionID})">
                            {$language['answer']}
                        </button>
                    </div>
                    {/if}
                </div>
                {/if}
                {/foreach}
                {/if}
            </main>
            {include 'includes/nav_options.latte'}
        </div>
        <preloader src="/static/js/new_messenger.js"></preloader>
        <preloader src="/static/playerrefresh/player.js"></preloader>
        <preloader src="/static/audioplayer/js/audioplayer.js"></preloader>
    </div>
    <script src="/static/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/static/node_modules/jquery-ui/dist/jquery-ui.min.js"></script>
    <script src="/static/js/main.js"></script>
</body>
</html>