<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/playerrefresh/zhabblerrplayer.css">
    <link rel="stylesheet" href="/static/audioplayer/css/audioplayer.css">
    <link rel="shortcut icon" href="/static/images/icon.png" type="image/png">
    <link rel="stylesheet" href="/static/node_modules/boxicons/css/boxicons.min.css">
    <link rel="manifest" href="/manifest.json" />
    <link rel="apple-touch-icon" href="/static/images/icons/icon-512x512.png" />
    <meta name="apple-mobile-web-app-status-bar" content="#13b522" />
    <meta name="theme-color" content="#13b522" />
    <title>{mb_ucfirst($language['zhabbler'])}</title>
</head>
<body>
    <div id="app">
        <div class="popup popup_do_not_close" id="JS_Loader">
            <div class="loader loader_cpa"><div class="loader_part loader_part_1"></div><div class="loader_part loader_part_2"></div><div class="loader_part loader_part_3"></div></div>
        </div>
        {include 'includes/navbar_top.latte'}
        <div class="container">
            {include 'includes/navbar.latte'}
            <main class="main">
                <div class="tabs">
                    <a href="/dashboard" class="tab">
                        <span>
                            {$language['following_tab']}
                        </span>
                    </a>
                    <a href="/dashboard/popular" class="tab">
                        <span>
                            {$language['popular']}
                        </span>
                    </a>
                    <a href="/dashboard/mytags" class="tab tab_active">
                        <span>
                            {$language['your_tags']}
                        </span>
                    </a>
                    <a href="/dashboard/explore" class="tab">
                        <span>
                            {$language['explore']}
                        </span>
                    </a>
                </div>
                <div>
                    {if isset($user)}
                    {include '../etc/post_usr_interact.latte'}
                    {/if}
                    <div class="tags_followed_pg">
                        <div class="tags_followed_pg_title">
                            <span>{$language['tags_u_followed']}</span>
                        </div>
                        <div class="tags_followed_pg_btns">
                            <button class="tags_followed_pg_btn tags_followed_pg_btn_left" onclick="zhabbler.scrollFTags('left');" style="display: none;">
                                <i class='bx bxs-chevron-left'></i>
                            </button>
                            <div class="tags_followed_pg_itself" id="FollowedTagsMTPg">
                                {foreach (new Web\Models\Posts())->get_followed_tags($user->token) as $tag}
                                <div class="tag_pg" onclick="goToPage('/tagged/' + {$tag->followedTag})" style="background-image: url({(new Web\Models\Posts())->get_popular_image_of_tag($tag->followedTag)});">
                                    <div class="tag_pg_tag">#{$tag->followedTag}</div>
                                </div>
                                {/foreach}
                                <div class="tag_pg tag_pg_add" onclick="zhabbler.addTagsPopup();">
                                    <div class="tag_pg_tag"><i class='bx bx-plus'></i></div>
                                </div>
                            </div>
                            <button class="tags_followed_pg_btn tags_followed_pg_btn_right" onclick="zhabbler.scrollFTags('right');" {(count((new Web\Models\Posts())->get_followed_tags($user->token)) == 0 ? 'style="display:none;"' : '')|noescape}>
                                <i class='bx bxs-chevron-right'></i>
                            </button>
                        </div>
                    </div>
                    <div id="MyTagsPosts">
                        <div class="loader">
                            <div class="loader_part loader_part_1"></div>
                            <div class="loader_part loader_part_2"></div>
                            <div class="loader_part loader_part_3"></div>
                        </div>
                    </div>
                </div>
            </main>
            {include 'includes/nav_options.latte'}
        </div>
        <preloader src="/static/js/mytags.js"></preloader>
        <preloader src="/static/js/new_messenger.js"></preloader>
        <preloader src="/static/playerrefresh/player.js"></preloader>
        <preloader src="/static/audioplayer/js/audioplayer.js"></preloader>
    </div>
    <script src="/static/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/static/node_modules/jquery-ui/dist/jquery-ui.min.js"></script>
    <script src="/static/js/main.js"></script>
</body>
</html>