<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/playerrefresh/zhabblerrplayer.css">
    <link rel="stylesheet" href="/static/audioplayer/css/audioplayer.css">
    <link rel="shortcut icon" href="/static/images/icon.png" type="image/png">
    <link rel="stylesheet" href="/static/node_modules/boxicons/css/boxicons.min.css">
    <link rel="manifest" href="/manifest.json" />
    <link rel="apple-touch-icon" href="/static/images/icons/icon-512x512.png" />
    <meta name="apple-mobile-web-app-status-bar" content="#13b522" />
    <meta name="theme-color" content="#13b522" />
    <title>Жабблер</title>
</head>
<body>
    <div id="app">
        <div class="popup popup_do_not_close" id="JS_Loader">
            <div class="loader loader_cpa"><div class="loader_part loader_part_1"></div><div class="loader_part loader_part_2"></div><div class="loader_part loader_part_3"></div></div>
        </div>
        {include 'includes/navbar_top.latte'}
        <div class="container">
            {include 'includes/navbar.latte'}
            <main class="main">
                <div class="tabs">
                    <a href="/dashboard" class="tab">
                        <span>
                            {$language['following_tab']}
                        </span>
                    </a>
                    <a href="/dashboard/popular" class="tab tab_active">
                        <span>
                            {$language['popular']}
                        </span>
                    </a>
                    <a href="/dashboard/mytags" class="tab">
                        <span>
                            {$language['your_tags']}
                        </span>
                    </a>
                    <a href="/dashboard/explore" class="tab">
                        <span>
                            {$language['explore']}
                        </span>
                    </a>
                </div>
                <div>
                    {if isset($user)}
                    {include '../etc/post_usr_interact.latte'}
                    {/if}
                    <div id="PopularPosts">
                        <div class="loader">
                            <div class="loader_part loader_part_1"></div>
                            <div class="loader_part loader_part_2"></div>
                            <div class="loader_part loader_part_3"></div>
                        </div>
                    </div>
                </div>
            </main>
            {include 'includes/nav_options.latte'}
        </div>
        <preloader src="/static/js/popular.js"></preloader>
        <preloader src="/static/js/new_messenger.js"></preloader>
        <preloader src="/static/playerrefresh/player.js"></preloader>
        <preloader src="/static/audioplayer/js/audioplayer.js"></preloader>
    </div>
    <script src="/static/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/static/node_modules/jquery-ui/dist/jquery-ui.min.js"></script>
    <script src="/static/js/main.js"></script>
</body>
</html>