<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="{$profile->nickname} on Zhabbler">
    <meta property="og:image" content="{$profile->profileImage}">
    <meta property="og:site_name" content="Zhabbler">
    <meta property="og:image:width" content="400">
    <meta property="og:image:height" content="400">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/playerrefresh/zhabblerrplayer.css">
    <link rel="stylesheet" href="/static/audioplayer/css/audioplayer.css">
    <link rel="shortcut icon" href="/static/images/icon.png" type="image/png">
    <link rel="stylesheet" href="/static/node_modules/boxicons/css/boxicons.min.css">
    <link rel="apple-touch-icon" href="/static/images/icons/icon-72x72.png" />
    <link rel="apple-touch-icon" href="/static/images/icons/icon-96x96.png" />
    <link rel="apple-touch-icon" href="/static/images/icons/icon-128x128.png" />
    <link rel="apple-touch-icon" href="/static/images/icons/icon-144x144.png" />
    <link rel="apple-touch-icon" href="/static/images/icons/icon-152x152.png" />
    <link rel="apple-touch-icon" href="/static/images/icons/icon-192x192.png" />
    <link rel="apple-touch-icon" href="/static/images/icons/icon-384x384.png" />
    <link rel="apple-touch-icon" href="/static/images/icons/icon-512x512.png" />
    <meta name="apple-mobile-web-app-status-bar" content="#13b522" />
    <meta name="theme-color" content="#13b522" />
    <title>Жабблер</title>
</head>
<body>
    <div id="app">
        <div class="popup popup_do_not_close" id="JS_Loader">
            <div class="loader loader_cpa"><div class="loader_part loader_part_1"></div><div class="loader_part loader_part_2"></div><div class="loader_part loader_part_3"></div></div>
        </div>
        {include 'includes/navbar_top.latte'}
        <div class="container">
            {include 'includes/navbar.latte'}
            <main class="main newPMain">
                <div class="profile_main">
                    <div class="profile_main_itself">
                        <div class="profile_main_container">
                            <div class="profile_main_pics">
                                <div class="profile_main_pics_cover"></div>
                                <div class="profile_main_pics_pfp">
                                    <img src="/static/images/no_avatar_1900.png/w100-compressed.jpeg">
                                </div>
                            </div>
                            <div class="profile_main_info">
                                <div class="dFaIcjSc">
                                    <h2>{($error == 'not_found' ? $language['user_not_found'] : $language['user_banned'])}</h2>
                                </div>
                                <div style="padding: 0 20px;">
                                    <span>{($error == 'not_found' ? $language['user_not_found_info'] : $language['user_banned_info'])}</span>
                                </div>
                            </div>
                        </div>
                        {include 'includes/sidebar_profile.latte'}
                        <preloader src="/static/js/new_messenger.js"></preloader>
                        <preloader src="/static/playerrefresh/player.js"></preloader>
                        <preloader src="/static/audioplayer/js/audioplayer.js"></preloader>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <script src="/static/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/static/node_modules/jquery-ui/dist/jquery-ui.min.js"></script>
    <script src="/static/js/main.js"></script>
</body>
</html>