<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/player/css/player.css">
    <link rel="shortcut icon" href="/static/images/icon.png" type="image/png">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="manifest" href="manifest.json" />
    <link rel="apple-touch-icon" href="/static/images/icons/icon-512x512.png" />
    <meta name="apple-mobile-web-app-status-bar" content="#13b522" />
    <meta name="theme-color" content="#13b522" />
    <title>Жабблер</title>
</head>
<body>
    <div id="app">
        <div class="popup popup_do_not_close" id="JS_Loader">
            <div class="loader loader_cpa"><div class="loader_part loader_part_1"></div><div class="loader_part loader_part_2"></div><div class="loader_part loader_part_3"></div></div>
        </div>
        {include 'includes/navbar_top.latte'}
        <div class="container">
            {include 'includes/navbar.latte'}
            <main class="main">
                <form method="GET" data-reload="3" action="/search">
                    <input class="input_search" placeholder="{$language['search_zhabbler']}" name="q" value="{(isset($_GET['q']) ? $_GET['q'] : '')}" style="margin: 15px;margin-bottom:0px;">
                    <div class="dF">
                        <a href="/search?q={$_GET['q']}&type=posts" class="select_search {($_GET['type'] == 'profiles' ? '' : 'select_search_selected')}">
                            {$language['posts']}
                        </a>
                        <a href="/search?q={$_GET['q']}&type=profiles" class="select_search {($_GET['type'] == 'profiles' ? 'select_search_selected' : '')}">
                            {$language['profiles']}
                        </a>
                    </div>
                </form>
                {if $_GET['type'] != 'profiles' && (new Web\Models\Posts())->check_tag_existence($_GET['q'])}
                <div class="tag-searched">
                    <div class="tag-searched-tag">
                        #{$_GET['q']}
                    </div>
                    <div class="tag-searched-followed">
                        {(new Web\Models\Posts())->followed_tag_count($_GET['q'])} {$language['followers']}
                    </div>
                    <div class="dFaIcjSc">
                    {if !(new Web\Models\Posts())->check_followed_tag($user->token, $_GET['q'])}
                        <button class="button" onclick="zhabbler.addTagsPopup({$_GET['q']});">
                            {$language['follow']}
                        </button>
                    {else}
                        <button class="button button_outline" onclick="zhabbler.addTagsPopup();">
                            {$language['unfollow']}
                        </button>
                    {/if}
                    </div>
                </div>
                {/if}
                {if $_GET['q'] != ''}
                <div id="Searched">
                    <div class="loader">
                        <div class="loader_part loader_part_1"></div>
                        <div class="loader_part loader_part_2"></div>
                        <div class="loader_part loader_part_3"></div>
                    </div>
                </div>
                {/if}
            </main>
            {include 'includes/nav_options.latte'}
        </div>
        {if $_GET['q'] != ''}
        <preloader>var query = "{$_GET['q']}";</preloader>
        {if $_GET['type'] == 'profiles'}
        <preloader src="/static/js/search_profiles.js"></preloader>
        {else}
        <preloader src="/static/js/search_posts.js"></preloader>
        {/if}
        {/if}
        <preloader src="/static/player/js/zhabblerplayer.js"></preloader>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js" integrity="sha512-57oZ/vW8ANMjR/KQ6Be9v/+/h6bq9/l3f0Oc7vn6qMqyhvPd1cvKBRWWpzu0QoneImqr2SkmO4MSqU+RpHom3Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/static/js/main.js"></script>
</body>
</html>
