<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{strip_tags($post->zhabContent)}">
    <meta property="og:type" content="article">
    <meta property="og:title" content="Post by {$post->nickname} on Zhabbler">
    <meta property="og:description" content="{strip_tags($post->zhabContent)}">
    <meta property="og:url" content="{(empty($_SERVER['HTTPS']) ? 'http' : 'https') . "://$_SERVER[HTTP_HOST]$_SERVER[REQUEST_URI]"}">
    <meta property="og:image" content="{(empty($_SERVER['HTTPS']) ? 'http' : 'https') . "://$_SERVER[HTTP_HOST]".$post->profileImage}">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/playerrefresh/zhabblerrplayer.css">
    <link rel="stylesheet" href="/static/audioplayer/css/audioplayer.css">
    <link rel="shortcut icon" href="/static/images/icon.png" type="image/png">
    <link rel="stylesheet" href="/static/node_modules/boxicons/css/boxicons.min.css">
    <link rel="manifest" href="/manifest.json" />
    <link rel="apple-touch-icon" href="/static/images/icons/icon-512x512.png" />
    <meta name="apple-mobile-web-app-status-bar" content="#13b522" />
    <meta name="theme-color" content="#13b522" />
    <title>{mb_ucfirst($language['zhabbler'])}</title>
</head>
<body>
    <div id="app">
        <div class="popup popup_do_not_close" id="JS_Loader">
            <div class="loader loader_cpa"><div class="loader_part loader_part_1"></div><div class="loader_part loader_part_2"></div><div class="loader_part loader_part_3"></div></div>
        </div>
        {include 'includes/login_banner.latte'}
        {include 'includes/navbar_top.latte'}
        <div class="container">
            {include 'includes/navbar.latte'}
            <main class="main newPMain">
                <div class="profile_main">
                    <div class="profile_main_itself">
                        <div class="profile_main_container">
                            <div id="PostLo">
                                <div class="loader loader_black" style="height:250px;"><div class="loader_part loader_part_1"></div><div class="loader_part loader_part_2"></div><div class="loader_part loader_part_3"></div></div>
                            </div>
                        </div>
                        {include 'includes/sidebar_profile.latte'}
                    </div>
                </div>
            </main>
        </div>
        <preloader src="/static/js/new_messenger.js"></preloader>
        <preloader src="/static/playerrefresh/player.js"></preloader>
        <preloader src="/static/audioplayer/js/audioplayer.js"></preloader>
        <preloader>let post_id = "{$post->zhabURLID}";</preloader>
        <preloader src="/static/js/zhab.js"></preloader>
    </div>
    <script src="/static/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/static/node_modules/jquery-ui/dist/jquery-ui.min.js"></script>
    <script src="/static/js/main.js"></script>
</body>
</html>
