<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Zhabbler</title>
    <style>
        img{
            object-fit: cover;
            border-radius: 5px;
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body class="bg-dark" data-bs-theme="dark">
    <nav class="navbar bg-success">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Zhabbler</a>
        </div>
    </nav>
    <div class="d-flex" style="padding: 1em;">
        <nav class="nav flex-column" style="width:300px;">
            <a class="nav-link" href="/admin/users">Users</a>
            <a class="nav-link" href="/admin/comments">Comments</a>
            <a class="nav-link" href="/admin/questions">Questions</a>
            <a class="nav-link" href="/admin/reports">Reports</a>
        </nav>
        <div class="container">
            {if $profile->reason != ''}
            <p class="text-danger">
                This user is banned and you will not be able to change his data. <a href="/admin/ban_user?nickname={$profile->nickname}">Unban?</a>
            </p>
            {/if}
            <h2>{$profile->name}</h2>
            <p><a href="/profile/{$profile->nickname}">@{$profile->nickname}</a></p>
            <form method="post">
                <div class="w-25 mb-3">
                    <label for="exampleInputEmail1" class="form-label">Profile Picture</label>
                    <div><img src="{$profile->profileImage}" width="150"></div>
                </div>
                {if $profile->profileCover != ''}
                <div class="w-25 mb-3">
                    <label for="exampleInputEmail1" class="form-label">Profile Cover</label>
                    <div><img src="{$profile->profileCover}" width="250" height="150"></div>
                </div>
                {/if}
                <div class="w-25 mb-3">
                    <label for="exampleInputEmail1" class="form-label">ID</label>
                    <input type="number" class="form-control" autocomplete="off" value="{$profile->userID}" disabled readonly>
                </div>
                <div class="w-25 mb-3">
                    <label for="exampleInputEmail1" class="form-label">Name</label>
                    <input type="text" name="name" class="form-control" autocomplete="off" value="{$profile->name}">
                </div>
                <div class="w-25 mb-3">
                    <label for="exampleInputEmail1" class="form-label">Nickname</label>
                    <input type="text" name="nickname" class="form-control" autocomplete="off" value="{$profile->nickname}">
                </div>
                <div class="w-25 mb-3">
                    <label for="exampleInputEmail1" class="form-label">email</label>
                    <input type="email" name="email" class="form-control" autocomplete="off" value="{$profile->email}">
                </div>
                <hr>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" name="verifed" value="1" id="verifed" {($profile->verifed == 1 ? "checked" : "")}>
                    <label class="form-check-label" for="verifed">Verifed</label>
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" name="admin" value="1" id="admin" {($profile->admin == 1 ? "checked" : "")}>
                    <label class="form-check-label" for="admin">Admin</label>
                </div>
                <div class="mb-3">
                    <button class="btn btn-success" type="submit">Save</button>
                </div>
                <hr>
                <div class="w-25 mb-3">
                    <label for="exampleInputEmail1" class="form-label">Password</label>
                    <input type="text" name="password" class="form-control" autocomplete="off">
                </div>
                <div class="mb-3">
                    <button class="btn btn-success" type="submit">Change password</button>
                </div>
            </form>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>